<nb-card-body>
  <nb-tabset>
    <nb-tab tabTitle="Historical Changes">
      <div *ngIf="this.historyChanges.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th>Type</th>
              <th>Date/Time</th>
              <th>Username</th>
              <th>Contact Name</th>
              <th>Result</th>
              <th>Description</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of this.historyChanges">
              <td>{{ history.category }}</td>
              <td>{{ history.completedDate }}</td>
              <td>{{ history.username }}</td>
              <td>{{ history.contactName }}</td>
              <td>{{ history.result }}</td>
              <td>{{ history.description }}</td>
              <td>{{ history.notes }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="this.historyChanges.length == 0">
        <p class="text-center">No History Changes</p>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Database Changes">
      <div *ngIf="this.databaseChanges.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th>Type</th>
              <th>Date/Time</th>
              <th>Username</th>
              <th>Contact Name</th>
              <th>Result</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of this.databaseChanges">
              <td>{{ history.category }}</td>
              <td>{{ history.completedDate }}</td>
              <td>{{ history.username }}</td>
              <td>{{ history.contactName }}</td>
              <td>{{ history.result }}</td>
              <td>{{ history.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="this.databaseChanges.length == 0">
        <p class="text-center">No Database Changes</p>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card-body>
