<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6 class="text-basic">Prequal</h6>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="slot" [formGroup]="form">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Est. Prop Value:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="estPropV" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Occupancy:</label>
                        <nb-select fullWidth class="occup" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="occup">
                            <nb-option value="OO">OO</nb-option>
                            <nb-option value="NOO">NOO</nb-option>
                            <nb-option value="2nd Home">2nd Home</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="Agg">Agg</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Property Type:</label>
                        <nb-select fullWidth class="propType" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="propType">
                            <nb-option value="SFR">SFR</nb-option>
                            <nb-option value="Condo">Condo</nb-option>
                            <nb-option value="1 Unit">1 Unit</nb-option>
                            <nb-option value="2 Unit">2 Unit</nb-option>
                            <nb-option value="3 Unit">3 Unit</nb-option>
                            <nb-option value="4 Unit">4 unit</nb-option>
                            <nb-option value="Multi Unit">Multi Unit</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="Agg">Agg</nb-option>
                            <nb-option value="LeaseHold">LeaseHold</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" fullWidth>Original P. Price:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="originalP" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" fullWidth>Retention:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="retention" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" fullWidth>Last Refi Date:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="lastRefiDate" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="text text-basic label">Notes:</label>
                        <textarea style="min-height: 170px;" nbInput formControlName="notes" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" fullWidth></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Balance</u></div>
                    </div>
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Payment</u></div>
                    </div>
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Rate</u></div>
                    </div>
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Loan Type</u></div>
                    </div>
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Lender</u></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>1st lien:</u></label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="firstLien" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="firstLien2" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="firstLien3" />
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="loanType1">
                            <nb-option value="Jumbo Fixed 15">Jumbo Fixed 15</nb-option>
                            <nb-option value="VA Fixed 30">VA Fixed 30</nb-option>
                            <nb-option value="Jumbo Fixed 30">Jumbo Fixed 30</nb-option>
                            <nb-option value="VA Fixed 15">VA Fixed 15</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="1_ITIN">1_ITIN</nb-option>
                            <nb-option value="Conv Fixed 30">Conv Fixed 30</nb-option>
                            <nb-option value="Conv Fixed 20">Conv Fixed 20</nb-option>
                            <nb-option value="Conv Fixed 15">Conv Fixed 15</nb-option>
                            <nb-option value="FHA Fixed 30">FHA Fixed 30</nb-option>
                            <nb-option value="FHA Fixed 15">FHA Fixed 15</nb-option>
                            <nb-option value="FHA ADJ 5/1">FHA ADJ 5/1</nb-option>
                            <nb-option value="Jumbo Fixed 20">Jumbo Fixed 20</nb-option>
                            <nb-option value="Jumbo ADJ 1/1">Jumbo ADJ 1/1</nb-option>
                            <nb-option value="Jumbo ADJ 5/1">Jumbo ADJ 5/1</nb-option>
                            <nb-option value="Jumbo ADJ 7/1">Jumbo ADJ 7/1</nb-option>
                            <nb-option value="Jumbo ADJ 10/1">Jumbo ADJ 10/1</nb-option>
                            <nb-option value="HERO">HERO</nb-option>
                            <nb-option value="USDA">USDA</nb-option>
                            <nb-option value="VA IRRL 30">VA IRRL 30</nb-option>
                            <nb-option value="FHA Fixed 20">FHA Fixed 20</nb-option>
                            <nb-option value="NQM Fixed 30">NQM Fixed 30</nb-option>
                            <nb-option value="NQM ADJ">NQM ADJ</nb-option>
                            <nb-option value="VA Fixed 20">VA Fixed 20</nb-option>
                            <nb-option value="VA IRRL 20">VA IRRL 20</nb-option>
                            <nb-option value="VA IRRL 15">VA IRRL 15</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="lender1">
                            <nb-option value="Bank of Internet">Bank of Internet</nb-option>
                            <nb-option value="IndyMac">IndyMac</nb-option>
                            <nb-option value="Citi Mortgage">Citi Mortgage</nb-option>
                            <nb-option value="Wells Fargo">Wells Fargo</nb-option>
                            <nb-option value="Flagstar">Flagstar</nb-option>
                            <nb-option value="BSI Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078">BSI
                                Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078</nb-option>
                            <nb-option value="Carrington Mortgage Services, Inc.">Carrington Mortgage Services, Inc.
                            </nb-option>
                            <nb-option value="Chase Bank">Chase Bank</nb-option>
                            <nb-option value="Commerce Wholesale">Commerce Wholesale</nb-option>
                            <nb-option value="Ohio Savings">Ohio Savings</nb-option>
                            <nb-option value="EMC">EMC</nb-option>
                            <nb-option value="Green Tree">Green Tree</nb-option>
                            <nb-option value="HSBC">HSBC</nb-option>
                            <nb-option value="Marix Servicing">Marix Servicing</nb-option>
                            <nb-option value="Met Life Home Loans">Met Life Home Loans</nb-option>
                            <nb-option value="Ocwen Loan">Ocwen Loan</nb-option>
                            <nb-option value="PennyMac">PennyMac</nb-option>
                            <nb-option value="PHH Mortgage">PHH Mortgage</nb-option>
                            <nb-option value="PNC">PNC</nb-option>
                            <nb-option value="Provident">Provident</nb-option>
                            <nb-option value="Sun West Mortgage">Sun West Mortgage</nb-option>
                            <nb-option value="The Bank of New York">The Bank of New York</nb-option>
                            <nb-option value="US Bank/ US BANCORP/ US Bank National Associaiton">US Bank/ US BANCORP/ US
                                Bank National Associaiton</nb-option>
                            <nb-option value="UWM">UWM</nb-option>
                            <nb-option value="Fairway">Fairway</nb-option>
                            <nb-option value="Caliber">Caliber</nb-option>
                            <nb-option value="Accelerate">Accelerate</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>2nd Lien</u></label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="secondLien" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth fieldSize="medium" type="text" class="text2" shape="rectangle"
                            status="primary" formControlName="secondLien2" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth fieldSize="medium" class="text2" type="text" shape="rectangle"
                            status="primary" formControlName="secondLien3" />
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="loanType2">
                            <nb-option value="Jumbo Fixed 15">Jumbo Fixed 15</nb-option>
                            <nb-option value="VA Fixed 30">VA Fixed 30</nb-option>
                            <nb-option value="Jumbo Fixed 30">Jumbo Fixed 30</nb-option>
                            <nb-option value="VA Fixed 15">VA Fixed 15</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="1_ITIN">1_ITIN</nb-option>
                            <nb-option value="Conv Fixed 30">Conv Fixed 30</nb-option>
                            <nb-option value="Conv Fixed 20">Conv Fixed 20</nb-option>
                            <nb-option value="Conv Fixed 15">Conv Fixed 15</nb-option>
                            <nb-option value="FHA Fixed 30">FHA Fixed 30</nb-option>
                            <nb-option value="FHA Fixed 15">FHA Fixed 15</nb-option>
                            <nb-option value="FHA ADJ 5/1">FHA ADJ 5/1</nb-option>
                            <nb-option value="Jumbo Fixed 20">Jumbo Fixed 20</nb-option>
                            <nb-option value="Jumbo ADJ 1/1">Jumbo ADJ 1/1</nb-option>
                            <nb-option value="Jumbo ADJ 5/1">Jumbo ADJ 5/1</nb-option>
                            <nb-option value="Jumbo ADJ 7/1">Jumbo ADJ 7/1</nb-option>
                            <nb-option value="Jumbo ADJ 10/1">Jumbo ADJ 10/1</nb-option>
                            <nb-option value="HERO">HERO</nb-option>
                            <nb-option value="USDA">USDA</nb-option>
                            <nb-option value="VA IRRL 30">VA IRRL 30</nb-option>
                            <nb-option value="FHA Fixed 20">FHA Fixed 20</nb-option>
                            <nb-option value="NQM Fixed 30">NQM Fixed 30</nb-option>
                            <nb-option value="NQM ADJ">NQM ADJ</nb-option>
                            <nb-option value="VA Fixed 20">VA Fixed 20</nb-option>
                            <nb-option value="VA IRRL 20">VA IRRL 20</nb-option>
                            <nb-option value="VA IRRL 15">VA IRRL 15</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth class="text2" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="lender2">
                            <nb-option value="Bank of Internet">Bank of Internet</nb-option>
                            <nb-option value="IndyMac">IndyMac</nb-option>
                            <nb-option value="Citi Mortgage">Citi Mortgage</nb-option>
                            <nb-option value="Wells Fargo">Wells Fargo</nb-option>
                            <nb-option value="Flagstar">Flagstar</nb-option>
                            <nb-option value="BSI Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078">BSI
                                Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078</nb-option>
                            <nb-option value="Carrington Mortgage Services, Inc.">Carrington Mortgage Services, Inc.
                            </nb-option>
                            <nb-option value="Chase Bank">Chase Bank</nb-option>
                            <nb-option value="Commerce Wholesale">Commerce Wholesale</nb-option>
                            <nb-option value="Ohio Savings">Ohio Savings</nb-option>
                            <nb-option value="EMC">EMC</nb-option>
                            <nb-option value="Green Tree">Green Tree</nb-option>
                            <nb-option value="HSBC">HSBC</nb-option>
                            <nb-option value="Marix Servicing">Marix Servicing</nb-option>
                            <nb-option value="Met Life Home Loans">Met Life Home Loans</nb-option>
                            <nb-option value="Ocwen Loan">Ocwen Loan</nb-option>
                            <nb-option value="PennyMac">PennyMac</nb-option>
                            <nb-option value="PHH Mortgage">PHH Mortgage</nb-option>
                            <nb-option value="PNC">PNC</nb-option>
                            <nb-option value="Provident">Provident</nb-option>
                            <nb-option value="Sun West Mortgage">Sun West Mortgage</nb-option>
                            <nb-option value="The Bank of New York">The Bank of New York</nb-option>
                            <nb-option value="US Bank/ US BANCORP/ US Bank National Associaiton">US Bank/ US BANCORP/ US
                                Bank National Associaiton</nb-option>
                            <nb-option value="UWM">UWM</nb-option>
                            <nb-option value="Fairway">Fairway</nb-option>
                            <nb-option value="Caliber">Caliber</nb-option>
                            <nb-option value="Accelerate">Accelerate</nb-option>
                        </nb-select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>3rd lien:</u></label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="thirdLien" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="thirdLien2" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="thirdLien3" />
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="loanType3">
                            <nb-option value="Jumbo Fixed 15">Jumbo Fixed 15</nb-option>
                            <nb-option value="VA Fixed 30">VA Fixed 30</nb-option>
                            <nb-option value="Jumbo Fixed 30">Jumbo Fixed 30</nb-option>
                            <nb-option value="VA Fixed 15">VA Fixed 15</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="1_ITIN">1_ITIN</nb-option>
                            <nb-option value="Conv Fixed 30">Conv Fixed 30</nb-option>
                            <nb-option value="Conv Fixed 20">Conv Fixed 20</nb-option>
                            <nb-option value="Conv Fixed 15">Conv Fixed 15</nb-option>
                            <nb-option value="FHA Fixed 30">FHA Fixed 30</nb-option>
                            <nb-option value="FHA Fixed 15">FHA Fixed 15</nb-option>
                            <nb-option value="FHA ADJ 5/1">FHA ADJ 5/1</nb-option>
                            <nb-option value="Jumbo Fixed 20">Jumbo Fixed 20</nb-option>
                            <nb-option value="Jumbo ADJ 1/1">Jumbo ADJ 1/1</nb-option>
                            <nb-option value="Jumbo ADJ 5/1">Jumbo ADJ 5/1</nb-option>
                            <nb-option value="Jumbo ADJ 7/1">Jumbo ADJ 7/1</nb-option>
                            <nb-option value="Jumbo ADJ 10/1">Jumbo ADJ 10/1</nb-option>
                            <nb-option value="HERO">HERO</nb-option>
                            <nb-option value="USDA">USDA</nb-option>
                            <nb-option value="VA IRRL 30">VA IRRL 30</nb-option>
                            <nb-option value="FHA Fixed 20">FHA Fixed 20</nb-option>
                            <nb-option value="NQM Fixed 30">NQM Fixed 30</nb-option>
                            <nb-option value="NQM ADJ">NQM ADJ</nb-option>
                            <nb-option value="VA Fixed 20">VA Fixed 20</nb-option>
                            <nb-option value="VA IRRL 20">VA IRRL 20</nb-option>
                            <nb-option value="VA IRRL 15">VA IRRL 15</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="lender3">
                            <nb-option value="Bank of Internet">Bank of Internet</nb-option>
                            <nb-option value="IndyMac">IndyMac</nb-option>
                            <nb-option value="Citi Mortgage">Citi Mortgage</nb-option>
                            <nb-option value="Wells Fargo">Wells Fargo</nb-option>
                            <nb-option value="Flagstar">Flagstar</nb-option>
                            <nb-option value="BSI Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078">BSI
                                Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078</nb-option>
                            <nb-option value="Carrington Mortgage Services, Inc.">Carrington Mortgage Services, Inc.
                            </nb-option>
                            <nb-option value="Chase Bank">Chase Bank</nb-option>
                            <nb-option value="Commerce Wholesale">Commerce Wholesale</nb-option>
                            <nb-option value="Ohio Savings">Ohio Savings</nb-option>
                            <nb-option value="EMC">EMC</nb-option>
                            <nb-option value="Green Tree">Green Tree</nb-option>
                            <nb-option value="HSBC">HSBC</nb-option>
                            <nb-option value="Marix Servicing">Marix Servicing</nb-option>
                            <nb-option value="Met Life Home Loans">Met Life Home Loans</nb-option>
                            <nb-option value="Ocwen Loan">Ocwen Loan</nb-option>
                            <nb-option value="PennyMac">PennyMac</nb-option>
                            <nb-option value="PHH Mortgage">PHH Mortgage</nb-option>
                            <nb-option value="PNC">PNC</nb-option>
                            <nb-option value="Provident">Provident</nb-option>
                            <nb-option value="Sun West Mortgage">Sun West Mortgage</nb-option>
                            <nb-option value="The Bank of New York">The Bank of New York</nb-option>
                            <nb-option value="US Bank/ US BANCORP/ US Bank National Associaiton">US Bank/ US BANCORP/ US
                                Bank National Associaiton</nb-option>
                            <nb-option value="UWM">UWM</nb-option>
                            <nb-option value="Fairway">Fairway</nb-option>
                            <nb-option value="Caliber">Caliber</nb-option>
                            <nb-option value="Accelerate">Accelerate</nb-option>
                        </nb-select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-4">
                        <label class="text1 text-basic label">Cash Out</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="cashout4" />
                    </div>
                    <div class="col-md-4">
                        <label class="text1 text-basic label">Taxes</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="taxes" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-4">
                        <label class="text1 text-basic label">CC-Misc</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ccMisc" />
                    </div>
                    <div class="col-md-4">
                        <label class="text1 text-basic label">Insurance HOA</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="insurHOA" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-4">
                        <label class="text1 text-basic label">PMI-MI</label>
                        <input nbInput fullWidth status="primary" fieldSize="medium" type="text" shape="rectangle"
                            formControlName="pmiMi" />
                    </div>
                    <div class="col-md-4">
                        <label class="text1 text-basic label">Flood Insurance</label>
                        <input nbInput fullWidth status="primary" fieldSize="medium" type="text" shape="rectangle"
                            formControlName="floodInsur" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-4">
                        <label class="text1 text-basic label">Credit Report #:</label>
                        <input nbInput fullWidth fieldSize="medium" status="primary" type="text" shape="rectangle"
                            formControlName="creditReport" />
                    </div>
                    <div class="col-md-4">
                        <label class="text1 text-basic label">Last Report Date</label>
                        <input [nbDatepicker]="datepicker1" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="lastrepDate" />
                        <nb-datepicker #datepicker1></nb-datepicker>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-8">
                        <label class="text1 text-basic label">Total</label>
                        <input nbInput fullWidth status="primary" fieldSize="medium" type="text" shape="rectangle"
                            formControlName="total1" />
                    </div>
                    <div class="col-md"></div>

                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Client</u></label>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>CO Client</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Social Sec. #:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="socialS" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Social Sec. #:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="socialS2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Birth Date:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="birthDate" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Birth Date:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="birthDate2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mid Score:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="midScore" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Mid Score:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="midScore2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Income:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="income" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Income:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="income2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mo. Debt:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="debt" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Mo. Debt:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="debt2" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">P.P / Value:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ppValue" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">PI:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="pi" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Dwn Payment:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="downPMT" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">TX:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="tx" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Loan Amount:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="loanAmt" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">INS:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ins" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">MIP/FF:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="mipFF" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">MI:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="mi" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Total Loan Amount:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="totLoan" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">PITI:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="piti" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Rate:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="rate" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">DTI:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="dti" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Term:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="term" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">LTV:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ltv" />
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label"><u>Submission</u></label>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Rate:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="rate2" />
                    </div>
                    <div class="col-md">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Est. Close:</label>
                        <input [nbDatepicker]="datepicker3" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="lastrepDate2" />
                        <nb-datepicker #datepicker3></nb-datepicker>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Loan Type:</label>
                        <nb-select fullWidth class="loanType4" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="loanType4">
                            <nb-option value="Mort Purchase">Mort Purchase</nb-option>
                            <nb-option value="Mort Refinance">Mort Refinance</nb-option>
                            <nb-option value="Mort Refinance C/O">Mort Refinance C/O</nb-option>
                            <nb-option value="Mort Reverse">Mort Reverse</nb-option>
                            <nb-option value="Mort Commercial">Mort Commercial</nb-option>
                            <nb-option value="LMI MKT">LMI MKT</nb-option>
                            <nb-option value="LMI MKT PKG">LMI MKT PKG</nb-option>
                            <nb-option value="LMI PROD BIZ">LMI PROD BIZ</nb-option>
                            <nb-option value="LMI PROD FILM">LMI PROD FILM</nb-option>
                            <nb-option value="LMI Tech">LMI Tech</nb-option>
                            <nb-option value="RE Purchase">RE Purchase</nb-option>
                            <nb-option value="RE Listing">RE Listing</nb-option>
                            <nb-option value="RE Lease">RE Lease</nb-option>
                            <nb-option value="RE Listing SS">RE Listing SS</nb-option>

                        </nb-select>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Lender:</label>
                        <nb-select fullWidth class="text1" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="lender5">
                            <nb-option value="Bank of Internet">Bank of Internet</nb-option>
                            <nb-option value="IndyMac">IndyMac</nb-option>
                            <nb-option value="Citi Mortgage">Citi Mortgage</nb-option>
                            <nb-option value="Wells Fargo">Wells Fargo</nb-option>
                            <nb-option value="Flagstar">Flagstar</nb-option>
                            <nb-option value="BSI Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078">BSI
                                Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078</nb-option>
                            <nb-option value="Carrington Mortgage Services, Inc.">Carrington Mortgage Services, Inc.
                            </nb-option>
                            <nb-option value="Chase Bank">Chase Bank</nb-option>
                            <nb-option value="Commerce Wholesale">Commerce Wholesale</nb-option>
                            <nb-option value="Ohio Savings">Ohio Savings</nb-option>
                            <nb-option value="EMC">EMC</nb-option>
                            <nb-option value="Green Tree">Green Tree</nb-option>
                            <nb-option value="HSBC">HSBC</nb-option>
                            <nb-option value="Marix Servicing">Marix Servicing</nb-option>
                            <nb-option value="Met Life Home Loans">Met Life Home Loans</nb-option>
                            <nb-option value="Ocwen Loan">Ocwen Loan</nb-option>
                            <nb-option value="PennyMac">PennyMac</nb-option>
                            <nb-option value="PHH Mortgage">PHH Mortgage</nb-option>
                            <nb-option value="PNC">PNC</nb-option>
                            <nb-option value="Provident">Provident</nb-option>
                            <nb-option value="Sun West Mortgage">Sun West Mortgage</nb-option>
                            <nb-option value="The Bank of New York">The Bank of New York</nb-option>
                            <nb-option value="US Bank/ US BANCORP/ US Bank National Associaiton">US Bank/ US BANCORP/ US
                                Bank National Associaiton</nb-option>
                            <nb-option value="UWM">UWM</nb-option>
                            <nb-option value="Fairway">Fairway</nb-option>
                            <nb-option value="Caliber">Caliber</nb-option>
                            <nb-option value="Accelerate">Accelerate</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Loan Program:</label>
                        <nb-select fullWidth class="loanProg" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="loanProgram">
                            <nb-option value="Jumbo Fixed 15">Jumbo Fixed 15</nb-option>
                            <nb-option value="VA Fixed 30">VA Fixed 30</nb-option>
                            <nb-option value="Jumbo Fixed 30">Jumbo Fixed 30</nb-option>
                            <nb-option value="VA Fixed 15">VA Fixed 15</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="1_ITIN">1_ITIN</nb-option>
                            <nb-option value="Conv Fixed 30">Conv Fixed 30</nb-option>
                            <nb-option value="Conv Fixed 20">Conv Fixed 20</nb-option>
                            <nb-option value="Conv Fixed 15">Conv Fixed 15</nb-option>
                            <nb-option value="FHA Fixed 30">FHA Fixed 30</nb-option>
                            <nb-option value="FHA Fixed 15">FHA Fixed 15</nb-option>
                            <nb-option value="FHA ADJ 5/1">FHA ADJ 5/1</nb-option>
                            <nb-option value="Jumbo Fixed 20">Jumbo Fixed 20</nb-option>
                            <nb-option value="Jumbo ADJ 1/1">Jumbo ADJ 1/1</nb-option>
                            <nb-option value="Jumbo ADJ 5/1">Jumbo ADJ 5/1</nb-option>
                            <nb-option value="Jumbo ADJ 7/1">Jumbo ADJ 7/1</nb-option>
                            <nb-option value="Jumbo ADJ 10/1">Jumbo ADJ 10/1</nb-option>
                            <nb-option value="HERO">HERO</nb-option>
                            <nb-option value="USDA">USDA</nb-option>
                            <nb-option value="VA IRRL 30">VA IRRL 30</nb-option>
                            <nb-option value="FHA Fixed 20">FHA Fixed 20</nb-option>
                            <nb-option value="NQM Fixed 30">NQM Fixed 30</nb-option>
                            <nb-option value="NQM ADJ">NQM ADJ</nb-option>
                            <nb-option value="VA Fixed 20">VA Fixed 20</nb-option>
                            <nb-option value="VA IRRL 20">VA IRRL 20</nb-option>
                            <nb-option value="VA IRRL 15">VA IRRL 15</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">PP / Value:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ppValue2" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Loan Amount:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="loanAmount" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">Interest Rate:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="intRate" />
                    </div>
                    <div class="col-md-5">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="intRate2" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Lien Type:</label>
                        <nb-select fullWidth class="occup" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="lienType">
                            <nb-option value="1st TD">1st TD</nb-option>
                            <nb-option value="2nd TD">2nd TD</nb-option>
                            <nb-option value="3rd TD">3rd TD</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Occupancy:</label>
                        <nb-select fullWidth class="occup" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="occup2">
                            <nb-option value="OO">OO</nb-option>
                            <nb-option value="NOO">NOO</nb-option>
                            <nb-option value="2nd Home">2nd Home</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="Agg">Agg</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Property Type:</label>
                        <nb-select fullWidth placeholder="select" fieldSize="medium" status="primary"
                            formControlName="propType2">
                            <nb-option value="SFR">SFR</nb-option>
                            <nb-option value="Condo">Condo</nb-option>
                            <nb-option value="1 Unit">1 Unit</nb-option>
                            <nb-option value="2 Unit">2 Unit</nb-option>
                            <nb-option value="3 Unit">3 Unit</nb-option>
                            <nb-option value="4 Unit">4 unit</nb-option>
                            <nb-option value="Multi Unit">Multi Unit</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="Agg">Agg</nb-option>
                            <nb-option value="LeaseHold">LeaseHold</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Impounds:</label>
                        <nb-select fullWidth class="occup" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="imp">
                            <nb-option value="Yes">Yes</nb-option>
                            <nb-option value="No">No</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Doc Type:</label>
                        <nb-select fullWidth placeholder="select" fieldSize="medium" status="primary"
                            formControlName="docType">
                            <nb-option value="Full Doc">Full Doc</nb-option>
                            <nb-option value="Streamline">Streamline</nb-option>
                            <nb-option value="Stated Bank Statements">Stated Bank Statements</nb-option>
                            <nb-option value="NINA">NINA</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md"></div>
                </div>



            </div>
        </div>

    </nb-card-body>
</nb-card>