<nb-flip-card [showToggleButton]="false" #flipcard>
  <nb-card-front>
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-6">Patient Details</div>
          <div class="col-6">
            <p class="text-right">
              <button class="btn btn-sm btn-info" (click)="flip()">
                attachments
              </button>
            </p>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div [formGroup]="patientsForm" class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-horizontal">
                <div class="form-group">
                  <div class="form-row">
                    <label for="firstName" class="col-sm-4 col-form-label"
                      >Name:</label
                    >
                    <div class="col-sm-8">
                      <div class="form-row">
                        <div class="col-sm-6">
                          <input
                            nbInput
                            id="firstName"
                            data-table="ClientInfo"
                            data-column="ClientFirst"
                            data-identifier="@Model.OpportunityId"
                            data-key="OpportunityId"
                            formControlName="firstName"
                            [status]="
                              firstName?.hasError('minLength') ||
                              firstName?.hasError('maxLength')
                                ? 'danger'
                                : ''
                            "
                            class="form-control"
                            placeholder="First Name"
                          />
                        </div>
                        <div class="col-sm-6">
                          <input
                            nbInput
                            id="lastName"
                            data-table="ClientInfo"
                            data-column="ClientLast"
                            data-identifier="@Model.OpportunityId"
                            data-key="OpportunityId"
                            formControlName="lastName"
                            [status]="
                              lastName?.hasError('minLength') ||
                              lastName?.hasError('maxLength')
                                ? 'danger'
                                : ''
                            "
                            class="form-control"
                            placeholder="Last Name"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <label for="phone" class="col-sm-4 col-form-label"
                      >Phone:</label
                    >
                    <div class="col-sm-8">
                      <input
                        nbInput
                        id="phone"
                        formControlName="phone"
                        [status]="
                          phone?.hasError('minLength') ||
                          phone?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="Phone"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <label for="mobile" class="col-sm-4 col-form-label"
                      >Mobile:</label
                    >
                    <div class="col-sm-8">
                      <input
                        nbInput
                        id="mobile"
                        formControlName="mobile"
                        [status]="
                          mobile?.hasError('minLength') ||
                          mobile?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="mobile"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <label for="fax" class="col-sm-4 col-form-label"
                      >Fax:</label
                    >
                    <div class="col-sm-8">
                      <input
                        nbInput
                        id="fax"
                        formControlName="fax"
                        [status]="
                          fax?.hasError('minLength') ||
                          fax?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="fax"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <label for="email" class="col-sm-4 col-form-label"
                      >Email:</label
                    >
                    <div class="col-sm-8">
                      <input
                        nbInput
                        id="email"
                        formControlName="email"
                        [status]="
                          email?.hasError('minLength') ||
                          email?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="email"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-horizontal">
                <div class="form-group">
                  <div class="form-row">
                    <label for="email" class="col-sm-4 col-form-label"
                      >Provider:</label
                    >
                    <div class="col-sm-8">
                      <select
                        nbInput
                        id="stage"
                        formControlName="stage"
                        class="form-control"
                      >
                        <option disabled="disabled" value=""
                          >Please Select</option
                        >
                        <option
                          *ngFor="let stage of stages"
                          [ngValue]="stage.value"
                          >{{ stage.display }}</option
                        >
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <label for="address.city" class="col-sm-4 col-form-label"
                      >Address:</label
                    >
                    <div class="col-sm-8">
                      <input
                        nbInput
                        id="street"
                        formControlName="street"
                        [status]="
                          street?.hasError('minLength') ||
                          street?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="Street Address"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <label for="address.city" class="col-sm-4 col-form-label"
                      >City:</label
                    >
                    <div class="col-sm-8">
                      <input
                        nbInput
                        id="city"
                        formControlName="city"
                        [status]="
                          city?.hasError('minLength') ||
                          city?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="City"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <label for="address.city" class="col-sm-4 col-form-label"
                      >State:</label
                    >
                    <div class="col-sm-8">
                      <select
                        nbInput
                        id="state"
                        formControlName="state"
                        class="form-control"
                      >
                        <option disabled="disabled" value=""
                          >Please Select</option
                        >
                        <option
                          *ngFor="let state of states"
                          [ngValue]="state"
                          >{{ state }}</option
                        >
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <label for="address.city" class="col-sm-4 col-form-label"
                      >Zip Code:</label
                    >
                    <div class="col-sm-8">
                      <input
                        nbInput
                        id="zipcode"
                        formControlName="zipcode"
                        [status]="
                          zipcode?.hasError('minLength') ||
                          zipcode?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="Zip Code"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <div class="form-row">
                  <label for="clientId" class="col-sm-4 col-form-label"
                    >Client Id:</label
                  >
                  <div class="col-sm-8">
                    <input
                      nbInput
                      id="clientId"
                      formControlName="clientId"
                      [status]="
                        clientId?.hasError('minLength') ||
                        clientId?.hasError('maxLength')
                          ? 'danger'
                          : ''
                      "
                      class="form-control"
                      placeholder="Client Id"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <label for="referrer" class="col-sm-4 col-form-label"
                    >Referrer:</label
                  >
                  <div class="col-sm-8">
                    <input
                      nbInput
                      id="referrer"
                      formControlName="referrer"
                      [status]="
                        referrer?.hasError('minLength') ||
                        referrer?.hasError('maxLength')
                          ? 'danger'
                          : ''
                      "
                      class="form-control"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <label for="referrerCompany" class="col-sm-4 col-form-label"
                    >Referrer Company:</label
                  >
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input
                        nbInput
                        id="referrerCompany"
                        formControlName="referrerCompany"
                        [status]="
                          referrerCompany?.hasError('minLength') ||
                          referrerCompany?.invalid ||
                          referrerCompany?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder=""
                      />
                      <a
                        href="/pages/crm/details/{{ this.referrerId.value }}"
                        class="btn btn-info"
                        >Go</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <label class="col-sm-4 col-form-label">Gross Billed:</label>
                  <div class="col-sm-8">
                    <input
                      nbInput
                      class="form-control"
                      placeholder=""
                      readonly="readonly"
                      formControlName="grossBilled"
                      id="grossBilled"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <label class="col-sm-4 col-form-label">Net Paid:</label>
                  <div class="col-sm-8">
                    <input
                      nbInput
                      class="form-control"
                      placeholder=""
                      readonly="readonly"
                      formControlName="netPaid"
                      id="netPaid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="notes" class="col-form-label">Notes:</label>
                <textarea
                  nbInput
                  id="notes"
                  fullWidth
                  [status]="notes.invalid ? 'danger' : ''"
                  formControlName="notes"
                  class="form-control"
                  [defaultValue]="notes.value"
                  rows="5"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-6">Patient Attachments</div>
          <div class="col-6">
            <p class="text-right">
              <button class="btn btn-sm btn-info" (click)="flip()">
                details
              </button>
            </p>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <table class="table">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Description</th>
              <th>FileSize</th>
              <th class="text-right">
                <input
                  type="file"
                  #file
                  (change)="upload(file.files[0])"
                  style="display: none;"
                />
                <button class="btn btn-primary" (click)="file.click()">
                  Upload <nb-icon icon="upload-outline"></nb-icon>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files">
              <td>{{ file.filename }}</td>
              <td>{{ file.description }}</td>
              <td>{{ file.fileSize }}</td>
              <td class="text-right">
                <button
                  class="btn btn-primary"
                  (click)="download(file.filename)"
                >
                  Download <nb-icon icon="download-outline"></nb-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
