<ng-template #dialog let-data let-ref="dialogRef">
  <nb-alert *ngIf="submitted && !success" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
      <li>Unfortunately, we're having trouble adding this contact.</li>
    </ul>
  </nb-alert>
  <nb-alert *ngIf="submitted && success" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
      <li>Contact was successfully added!</li>
    </ul>
  </nb-alert>
</ng-template>
<nb-card>
  <nb-card-header>
    Add Patient
  </nb-card-header>
  <nb-card-body>
    <div [formGroup]="patientForm" class="container form-horizontal">
      <div class="form-group" formGroupName="name">
        <label for="firstName" class="col-form-label">Name:</label>
        <div class="form-row">
          <div class="col-sm-6">
            <input
              nbInput
              id="firstName"
              fullWidth
              formControlName="firstName"
              [status]="
                firstName?.hasError('minLength') ||
                firstName?.hasError('maxLength')
                  ? 'danger'
                  : ''
              "
              class="form-control"
              placeholder="first name"
            />
          </div>
          <div class="col-sm-6">
            <input
              nbInput
              id="lastName"
              fullWidth
              formControlName="lastName"
              [status]="
                lastName?.hasError('minLength') ||
                lastName?.hasError('maxLength')
                  ? 'danger'
                  : ''
              "
              class="form-control"
              placeholder="last name"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">D.O.B</label>
        <input
          nbInput
          placeholder="date of birth"
          [nbDatepicker]="datepicker"
          fullWidth
          class="form-control"
        />
        <nb-datepicker #datepicker [max]="today" [min]=""></nb-datepicker>
      </div>
      <div class="form-group" formGroupName="address">
        <label for="address" class="col-form-label">Address:</label>
        <div class="row">
          <div class="col-sm-12">
            <input
              nbInput
              id="street"
              fullWidth
              formControlName="street"
              [status]="
                street?.hasError('minLength') || street?.hasError('maxLength')
                  ? 'danger'
                  : ''
              "
              class="form-control"
              placeholder="street address"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <input
              nbInput
              id="city"
              fullWidth
              formControlName="city"
              [status]="
                city?.hasError('minLength') || city?.hasError('maxLength')
                  ? 'danger'
                  : ''
              "
              class="form-control"
              placeholder="city"
            />
          </div>
          <div class="col-sm-4">
            <select
              nbInput
              id="state"
              formControlName="state"
              class="form-control"
            >
              <option disabled="disabled" value="">select a state</option>
              <option *ngFor="let state of states" [ngValue]="state">{{
                state
              }}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input
              nbInput
              id="zipcode"
              fullWidth
              formControlName="zipcode"
              [status]="
                zipcode?.hasError('minLength') || zipcode?.hasError('maxLength')
                  ? 'danger'
                  : ''
              "
              class="form-control"
              placeholder="zip code"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="mobile" class="col-form-label">Mobile Phone:</label>
        <input
          nbInput
          id="mobile"
          fullWidth
          formControlName="mobile"
          [status]="
            mobile?.hasError('minLength') || mobile?.hasError('maxLength')
              ? 'danger'
              : ''
          "
          class="form-control"
          placeholder="mobile"
        />
      </div>
      <div class="form-group">
        <label for="phone" class="col-form-label">Work Phone:</label>
        <input
          nbInput
          id="phone"
          fullWidth
          formControlName="phone"
          [status]="
            phone?.hasError('minLength') || phone?.hasError('maxLength')
              ? 'danger'
              : ''
          "
          class="form-control"
          placeholder="phone"
        />
      </div>
      <div class="form-group">
        <label for="email" class="col-form-label">Email Address:</label>
        <input
          nbInput
          id="email"
          fullWidth
          data-table="ClientInfo"
          data-column="EmailClient"
          data-identifier="@Model.OpportunityId"
          data-key="OpportunityId"
          formControlName="email"
          [status]="
            email?.hasError('minLength') || email?.hasError('maxLength')
              ? 'danger'
              : ''
          "
          class="form-control"
          placeholder="email"
        />
      </div>
      <div class="form-group">
        <label for="fax" class="col-form-label">Fax Number:</label>
        <input
          nbInput
          id="fax"
          formControlName="fax"
          fullWidth
          [status]="
            fax?.hasError('minLength') || fax?.hasError('maxLength')
              ? 'danger'
              : ''
          "
          class="form-control"
          placeholder="fax"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="submit(dialog)"
        [disabled]="!patientForm.valid"
      >
        Add
      </button>
    </div>
  </nb-card-body>
</nb-card>
