:host {
    display: block;
    width: 100%;
  }
  
  .space-component {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
  }
  
  .text {
    margin: 4px 8px 0 0;
  }
  
  input {
    margin: 4px 4px 10px 0;
  }
  
  .space-component1 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
  }
  
  .text1 {
    margin: 4px 12px 0 0;
  }
  
  .input1 {
    margin: 4px 0 0 0;
  }
  
  .text2 {
    margin: 0 24px 0 0;
  }
  
  .select {
    margin: 0 0 0 0px;
  }
  .text3 {
    margin: 0 4px;
  }
  
  .space-component2 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
  }
  
  .input2 {
    margin: 0 4px 0 8px;
  }
  
  .input3 {
    margin: 0 12px 0 16px;
  }
  
  .select1 {
    margin: 0 0 0 16px;
  }
  
  .text4 {
    margin: 0 4px 0 0;
  }
  
  .text5 {
    margin: 0 12px 0 0;
  }
  
  .input4 {
    margin: 0 12px 0 8px;
  }
  
  .text6 {
    margin: 0 20px 0 0;
  }
  
  .input5 {
    margin: 0 0 0 4px;
  }
  
  .text7 {
    margin: 0 16px 0 0;
  }
  
  .input6 {
    margin: 0 12px 0 24px;
  }
  
  .input7 {
    margin: 0 12px;
  }
  
  .space-component3 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: visible;
  }
  
  .card {
    width: 100%;
  }
  
  h6 {
    position: relative;
    top: 10px;

  }

  hr {
    border: double;
    color: rgb(23, 122, 214);
    height: 0px;
    width: 100%;
    border-width: 1px;

  }



  