:host {
    display: block;
    width: 100%;
  }
  
  .input {
    margin: 4px 4px 0 0;
  }
  
  .text1 {
    margin: 4px 12px 0 0;
  }
  
  
  .select {
    margin: 0 0 0 0px;
  }
  
  
  .select1 {
    margin: 0 0 0 16px;
  }
  
  .input4 {
    margin: 0 12px 0 8px;
  }
  
  .text6 {
    margin: 0 20px 0 0;
  }
  
  .input5 {
    margin: 0 0 0 4px;
  }
  
  .text7 {
    margin: 0 16px 0 0;
  }
  
  .input6 {
    margin: 0 12px 0 24px;
  }
  
  .input7 {
    margin: 0 12px;
  }
  
  .card {
    width: 100%;
  }

h6 {
    top: 5px;
}

#border-right {
    border-right-color: blue;
    border-right-width: 1px;
    border: double;
}




  