<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6>AFG Pre-Application Form</h6>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="slot" [formGroup]="form">
        <div class="row">
            <div class="col-md-6 border-right">
                <div class="row">
                    <div class="col-md">
                        <h6><u>Borrower Information</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Borrowers Proper Legal Name:</label>
                        <input formControlName="borrowerProperName" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">SSN:</label>
                        <input formControlName="ssn" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h6><u>Contact Information</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mobile Phone:</label>
                        <input formControlName="mobilePhone" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input formControlName="email" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Current Address:</label>
                        <input formControlName="currentAddress" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <nb-checkbox status="primary" formControlName="own">Own</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox status="primary" formControlName="rent">Rent</nb-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years:</label>
                        <input formControlName="years" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Months:</label>
                        <input formControlName="months" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Birth Date:</label>
                        <input formControlName="birthDate" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years School:</label>
                        <input formControlName="yearsSchool" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Martial Status:</label>
                        <nb-select fullWidth formControlName="martialStatus" placeholder="select" fieldSize="medium"
                            status="primary">
                            <nb-option value="1">Married</nb-option>
                            <nb-option value="2">Unmarried</nb-option>
                            <nb-option value="3">Seperated</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"># of Dependants:</label>
                        <input formControlName="numberDependants" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h6><u>Current Employment</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Current Employment Name:</label>
                        <input formControlName="employmentName" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Employment Phone Number:</label>
                        <input formControlName="employmentPhone" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years On Job</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years:</label>
                        <input formControlName="yearsOnJob" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Months:</label>
                        <input formControlName="monthsOnJob" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Job Title:</label>
                        <nb-select fullWidth formControlName="jobTitle" placeholder="select" fieldSize="medium"
                            status="primary">
                            <nb-option value="1">CEO</nb-option>
                            <nb-option value="2">CIO</nb-option>
                            <nb-option value="3">CTO</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Years in Industry:</label>
                        <input formControlName="yearsIndustry" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Monthly Gross Income:</label>
                        <input formControlName="monthlyGross" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">1099 Contractor:</label>
                        <input formControlName="tenNineContractor" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Salary:</label>
                        <input formControlName="salary" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Hourly:</label>
                        <input formControlName="hourly" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Child Support Monthly Income:</label>
                        <input formControlName="childSupport" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Alimony:</label>
                        <input formControlName="alimony" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Other:</label>
                        <input formControlName="other" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h6><u>Previous Employer</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Previous Employer Name:</label>
                        <input formControlName="previousEmployerName" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone Number:</label>
                        <input formControlName="previousPhone" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Employment Phone Number:</label>
                        <input formControlName="previousEmployerPhone" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Position:</label>
                        <nb-select fullWidth formControlName="position" placeholder="select" fieldSize="medium"
                            status="primary">
                            <nb-option value="1">CEO</nb-option>
                            <nb-option value="2">CIO</nb-option>
                            <nb-option value="3">CTo</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years On Job</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years:</label>
                        <input formControlName="previousYears" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Months:</label>
                        <input formControlName="previousMonth" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <h6><u>CO-Borrower Information</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Borrowers Proper Legal Name:</label>
                        <input formControlName="COborrowerProperName" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">SSN:</label>
                        <input formControlName="COssn" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h6><u>Contact Information</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mobile Phone:</label>
                        <input formControlName="COmobilePhone" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input formControlName="COemail" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Current Address:</label>
                        <input formControlName="COcurrentAddress" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <nb-checkbox status="primary" formControlName="COown">Own</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox status="primary" formControlName="COrent">Rent</nb-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years:</label>
                        <input formControlName="COyears" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Months:</label>
                        <input formControlName="COmonths" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Birth Date:</label>
                        <input formControlName="CObirthDate" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years School:</label>
                        <input formControlName="COyearsSchool" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Martial Status:</label>
                        <nb-select fullWidth formControlName="COmartialStatus" placeholder="select" fieldSize="medium"
                            status="primary">
                            <nb-option value="1">Married</nb-option>
                            <nb-option value="2">Unmarried</nb-option>
                            <nb-option value="3">Seperated</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"># of Dependants:</label>
                        <input formControlName="COnumberDependants" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h6><u>Current Employment</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Current Employment Name:</label>
                        <input formControlName="COemploymentName" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Employment Phone Number:</label>
                        <input formControlName="COemploymentPhone" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years On Job</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Years:</label>
                        <input formControlName="COyearsOnJob" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Months:</label>
                        <input formControlName="COmonthsOnJob" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Job Title:</label>
                        <nb-select fullWidth formControlName="COjobTitle" placeholder="select" fieldSize="medium"
                            status="primary">
                            <nb-option value="1">CEO</nb-option>
                            <nb-option value="2">CIO</nb-option>
                            <nb-option value="3">CTO</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Years in Industry:</label>
                        <input formControlName="COyearsIndustry" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Monthly Gross Income:</label>
                        <input formControlName="COmonthlyGross" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">1099 Contractor:</label>
                        <input formControlName="COtenNineContractor" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Salary:</label>
                        <input formControlName="salary" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Hourly:</label>
                        <input formControlName="COhourly" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Child Support Monthly Income:</label>
                        <input formControlName="COchildSupport" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Alimony:</label>
                        <input formControlName="COalimony" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Other:</label>
                        <input formControlName="COother" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md">
                        <h6><u>Asset (Down Payment) Information</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Cash in Bank/Savings:</label>
                        <input formControlName="cashBank" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">401k (Retirement):</label>
                        <input formControlName="retirement401k" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Other:</label>
                        <input formControlName="assetOther" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">I/WE Authorize Americas Funding Group to run our Credit
                            Reports for purposes or Qualifications:</label>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Signature: X</label>
                        <input formControlName="sig1" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Signature: X</label>
                        <input formControlName="sig2" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md"></div>
                </div>

            </div>
        </div>
    </nb-card-body>
</nb-card>