<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6 class="text-basic">Process p65</h6>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body class="slot" [formGroup]="form">
        <div class="row">
            <div class="col-md">
                <h5 class="text-basic">Product Tested</h5>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">1:</label>
                        <nb-select placeholder="" formControlName="t1" size="medium" fullWidth status="primary">
                        </nb-select>
                    </div>
                    <div class="col-md-9">
                        <input nbInput formControlName="" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Date Lab Tested:</label>
                        <input [nbDatepicker]="datepicker1" formControlName="testedDt1" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker1>
                        </nb-datepicker>
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Test:</label>
                        <input nbInput formControlName="labTest1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Results:</label>
                        <input nbInput formControlName="labRes1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Expert Analysis Date:</label>
                        <input [nbDatepicker]="datepicker2" formControlName="expDt1" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker2>
                        </nb-datepicker>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">2:</label>
                        <nb-select placeholder="" formControlName="t2" size="medium" fullWidth status="primary">
                        </nb-select>
                    </div>
                    <div class="col-md-9">
                        <input nbInput formControlName="" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Date Lab Tested:</label>
                        <input [nbDatepicker]="datepicker3" formControlName="testedDt2" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker3>
                        </nb-datepicker>
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Test:</label>
                        <input nbInput formControlName="labTest2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Results:</label>
                        <input nbInput formControlName="labRes2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Expert Analysis Date:</label>
                        <input [nbDatepicker]="datepicker4" formControlName="expDt2" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker4>
                        </nb-datepicker>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">3:</label>
                        <nb-select placeholder="" formControlName="t3" size="medium" fullWidth status="primary">
                        </nb-select>
                    </div>
                    <div class="col-md-9">
                        <input nbInput formControlName="" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Date Lab Tested:</label>
                        <input [nbDatepicker]="datepicker5" formControlName="testedDt3" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker5>
                        </nb-datepicker>
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Test:</label>
                        <input nbInput formControlName="labTest3" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Results:</label>
                        <input nbInput formControlName="labRes3" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Expert Analysis Date:</label>
                        <input [nbDatepicker]="datepicker6" formControlName="expDt3" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker6>
                        </nb-datepicker>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">4:</label>
                        <nb-select placeholder="" formControlName="t4" size="medium" fullWidth status="primary">
                        </nb-select>
                    </div>
                    <div class="col-md-9">
                        <input nbInput formControlName="" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Date Lab Tested:</label>
                        <input [nbDatepicker]="datepicker7" formControlName="testedDt4" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker7>
                        </nb-datepicker>
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Test:</label>
                        <input nbInput formControlName="labTest4" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Results:</label>
                        <input nbInput formControlName="labRes4" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Expert Analysis Date:</label>
                        <input [nbDatepicker]="datepicker8" formControlName="expDt4" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker8>
                        </nb-datepicker>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">5:</label>
                        <nb-select placeholder="" formControlName="t5" size="medium" fullWidth status="primary">
                        </nb-select>
                    </div>
                    <div class="col-md-9">
                        <input nbInput formControlName="" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Date Lab Tested:</label>
                        <input [nbDatepicker]="datepicker8" formControlName="testedDt5" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker8>
                        </nb-datepicker>
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Test:</label>
                        <input nbInput formControlName="labTest5" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Lab Results:</label>
                        <input nbInput formControlName="labRes5" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md-3">
                        <label class="text1 text-basic label">Expert Analysis Date:</label>
                        <input [nbDatepicker]="datepicker10" formControlName="expDt5" fullWidth nbInput placeholder=""
                            fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker10>
                        </nb-datepicker>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Manufacture:</label>
                        <input nbInput formControlName="manufacture" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Company:</label>
                        <input nbInput formControlName="company1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">CEO:</label>
                        <input nbInput formControlName="ceo1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="address1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="city1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="state1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="zip1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Retailer 1:</label>
                        <input nbInput formControlName="retailer1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Company:</label>
                        <input nbInput formControlName="company2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">CEO:</label>
                        <input nbInput formControlName="ceo2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="address2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="city2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="state2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="zip2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Retailer 2:</label>
                        <input nbInput formControlName="retailer2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Company:</label>
                        <input nbInput formControlName="company3" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">CEO:</label>
                        <input nbInput formControlName="ceo3" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="address3" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="city3" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="state3" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="zip3" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="font-size: 15px;"><b><u>Def 1 OPC:</u></b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;">OPC Link:</label>
                        <input nbInput formControlName="opcLink" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Firm:</label>
                        <input nbInput formControlName="opc1Firm" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Attorney:</label>
                        <input nbInput formControlName="opc1Attorney" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Direct:</label>
                        <input nbInput formControlName="opc1Direct" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Gen. Office:</label>
                        <input nbInput formControlName="opc1Office" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mobile:</label>
                        <input nbInput formControlName="opc1Mobile" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax:</label>
                        <input nbInput formControlName="opc1Fax" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="opc1Email" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="opc1Address" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="opc1City" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="opc1State" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="opc1Zip" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="font-size: 15px;"><b><u>Def 2 OPC:</u></b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;">OPC Link:</label>
                        <input nbInput formControlName="opcLink2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Firm:</label>
                        <input nbInput formControlName="opc2Firm" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Attorney:</label>
                        <input nbInput formControlName="opc2Attorney" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Direct:</label>
                        <input nbInput formControlName="opc2Direct" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Gen. Office:</label>
                        <input nbInput formControlName="opc2Office" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mobile:</label>
                        <input nbInput formControlName="opc2Mobile" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax:</label>
                        <input nbInput formControlName="opc2Fax" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="opc2Email" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="opc2Address" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="opc2City" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="opc2State" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="opc2Zip" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>

            </div>
        </div>






    </nb-card-body>
</nb-card>