<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
        <h1 *ngIf="this.currentRole === 'user'">My Clients</h1>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-info" (click)="add()">Add</button>
      </div>
    </div>
  </nb-card-header>
  <div *ngIf="this.currentRole === 'user'">
    <ngx-app-client-list [source]="source"></ngx-app-client-list>
  </div>
  <div *ngIf="!(this.currentRole === 'user')">
    <nb-tabset>
      <nb-tab tabTitle="My Clients">
        <ngx-app-client-list
          pipeLineType="agent"
          [source]="source"
        ></ngx-app-client-list>
      </nb-tab>
      <nb-tab tabTitle="My Teams">
        <ngx-app-client-list
          pipeLineType="manager"
          [source]="source"
        ></ngx-app-client-list>
      </nb-tab>
    </nb-tabset>
  </div>
</nb-card>
