<ng-template #dialog let-data let-ref="dialogRef">
  <ngx-stage-subpage-contact
    [service]="this.service"
    [contactId]="this.contactId.value"
    (close)="refresh(ref)"
  >
  </ngx-stage-subpage-contact>
</ng-template>
<nb-card class="card">
  <nb-card-header class="slot">
    <div class="row">
      <div class="col-md">
        <h6 class="text-basic">{{ contactName }}'s Details</h6>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body class="slot" [formGroup]="form">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md border-right">
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Company:</label>
                <input
                  formControlName="company"
                  nbInput
                  fullWidth
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">First Name:</label>
                <input
                  nbInput
                  formControlName="firstName"
                  fullWidth
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Last Name:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="lastName"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Title:</label>
                <input
                  nbInput
                  formControlName="title"
                  fullWidth
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row form-inline input-group input-group-md">
              <div class="col-md-10 form-group align-self-start">
                <label class="text1 text-basic label">Email:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="email"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
              <div class="col-md-2 fixed form-group">
                <span
                  ><button class="btn">
                    <i
                      class="fa fa-envelope"
                      style="font-size: 18px;"
                    ></i></button
                ></span>
              </div>
            </div>
            <div class="row form-inline input-group input-group-md">
              <div class="col-md-10 form-group align-self-start">
                <label class="text1 text-basic label">Email Personal:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="emailPersonal"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
              <div class="col-md-2 fixed form-group">
                <span
                  ><button class="btn">
                    <i
                      class="fa fa-envelope"
                      style="font-size: 18px;"
                    ></i></button
                ></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <nb-checkbox status="primary" formControlName="primaryContact"
                  >Primary Contact</nb-checkbox
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Web:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="web"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Address1:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="address1"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Address2:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="address2"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">City:</label>
                <input
                  nbInput
                  formControlName="city"
                  fullWidth
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">State:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="state"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">County:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="county"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Zip:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="zip"
                  placeholder="Enter Value"
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
          </div>
          <div class="col-md border-right1">
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Preferred Com.:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="preferredCom"
                  placeholder='"1 new Lead"'
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Mobile:</label>
                <ngx-phone-control
                  formControlName="mobilePhone"
                  [isMobile]="true"
                  [identifier]="this.contactId.value"
                  [recipient]="
                    this.firstName.value.concat(' ').concat(this.lastName.value)
                  "
                ></ngx-phone-control>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Mobile:</label>
                <ngx-phone-control
                  formControlName="mobilePhone2"
                  [isMobile]="true"
                  [identifier]="this.contactId.value"
                  [recipient]="
                    this.firstName.value.concat(' ').concat(this.lastName.value)
                  "
                ></ngx-phone-control>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Work:</label>
                <ngx-phone-control
                  formControlName="workPhone"
                  [isMobile]="false"
                  [identifier]="this.contactId.value"
                  [recipient]="
                    this.firstName.value.concat(' ').concat(this.lastName.value)
                  "
                ></ngx-phone-control>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Home:</label>
                <ngx-phone-control
                  formControlName="homePhone"
                  [isMobile]="false"
                  [identifier]="this.contactId.value"
                  [recipient]="
                    this.firstName.value.concat(' ').concat(this.lastName.value)
                  "
                ></ngx-phone-control>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Fax:</label>
                <input
                  nbInput
                  formControlName="fax"
                  fullWidth
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">MKT Phone:</label>
                <ngx-phone-control
                  formControlName="mktPhone"
                  [isMobile]="false"
                  [identifier]="this.contactId.value"
                  [recipient]="
                    this.firstName.value.concat(' ').concat(this.lastName.value)
                  "
                ></ngx-phone-control>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md">
                <nb-checkbox
                  fullWidth
                  status="success"
                  formControlName="dontSolicit"
                  >Don't Solicit All</nb-checkbox
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <nb-checkbox
                  fullWidth
                  status="success"
                  formControlName="dontEmail"
                  >Don't Email</nb-checkbox
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <nb-checkbox
                  class="text1"
                  status="success"
                  formControlName="dontCall"
                  >Do Not Call</nb-checkbox
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <nb-checkbox
                  class="text1"
                  status="success"
                  formControlName="dontSms"
                  >Do Not SMS</nb-checkbox
                >
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Contact Type:</label>
                <nb-select
                  fullWidth
                  placeholder="select"
                  size="medium"
                  formControlName="contactType"
                  status="primary"
                >
                  <nb-option value="option 1">option 1</nb-option>
                  <nb-option value="option 2">option 2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Sales Stage:</label>
                <input
                  nbInput
                  placeholder='"1 new Lead"'
                  style="cursor: pointer;"
                  [value]="salesStage.value"
                  fieldSize="medium"
                  type="text"
                  readonly
                  shape="rectangle"
                  status="primary"
                  fullWidth
                  (click)="showContactStage(dialog)"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">StageModDate:</label>
                <input
                  nbInput
                  formControlName="stageModDate"
                  fullWidth
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Team:</label>
                <input
                  nbInput
                  fullWidth
                  readonly
                  formControlName="team"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Primary Entity:</label>
                <input
                  nbInput
                  fullWidth
                  readonly
                  formControlName="primaryEntity"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Source Type1:</label>
                <input
                  nbInput
                  fullWidth
                  placeholder=""
                  formControlName="sourceType1"
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Source2:</label>
                <input
                  nbInput
                  fullWidth
                  placeholder=""
                  formControlName="sourceType2"
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Contact ID:</label>
                <input
                  nbInput
                  fullWidth
                  readonly
                  formControlName="contactId"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Create Date:</label>
                <input
                  nbInput
                  fullWidth
                  formControlName="createDate"
                  placeholder=""
                  fieldsize="medium"
                  type="text"
                  shape="rectangle"
                  status="primary"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row" *ngIf="isAdmin()">
          <div class="col">
            <label class="text text-basic label">Current Agent:</label>
            <select
              class="form-control"
              placeholder="select"
              size="medium"
              status="primary"
              fullWidth
              formControlName="accountManagerId"
            >
              <option *ngFor="let u of users" value="{{ u.contactId }}">
                {{ u.firstName + " " + u.lastName }}
              </option>
            </select>
          </div>
        </div>
        <div class="row" *ngIf="!isAdmin()">
          <div class="col">
            <label class="text text-basic label">Current Agent:</label>
            <input
              nbInput
              placeholder="Enter Value"
              fieldSize="medium"
              formControlName="accountManager"
              type="text"
              shape="rectangle"
              status="primary"
              fullWidth
              disabled
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <label class="text1 text-basic label">Notes:</label>

            <textarea
              nbInput
              style="height: 350px;"
              placeholder="*Big Note Box&lt;----"
              fieldSize="small"
              type="text"
              shape="rectangle"
              status="primary"
              fullWidth
              formControlName="notes"
            ></textarea>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col-md">
            <input
              nbInput
              fullWidth
              placeholder="Date / Time"
              fieldsize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md">
            <input
              nbInput
              fullWidth
              placeholder="Open Field"
              fieldsize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
        </div>
        -->
      </div>
    </div>
  </nb-card-body>
</nb-card>
