:host {
  display: block;
  width: 100%;
}

.space-component {
  height: auto;
  min-height: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  overflow: visible;
}

.text {
  margin: 4px 8px 0 0;
}

.input {
  margin: 4px 4px 0 0;
}

.space-component1 {
  height: auto;
  min-height: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  overflow: visible;
}

.text1 {
  margin: 4px 12px 0 0;
}

.input1 {
  margin: 4px 0 0 0;
}

.select {
  margin: 0 0 0 8px;
}

.text2 {
  margin: 0 4px;
}

.space-component2 {
  height: auto;
  min-height: 2rem;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  overflow: visible;
}

.text3 {
  margin: 0 8px 0 0;
}

.input2 {
  margin: 0 4px 0 20px;
}

.text4 {
  margin: 0 24px 0 0;
}

.input3 {
  margin: 0 12px;
}

.select1 {
  margin: 0 0 0 20px;
}

.text5 {
  margin: 0 20px 0 0;
}

.input4 {
  margin: 0 0 0 24px;
}

.text6 {
  margin: 0 12px 0 0;
}

.input5 {
  margin: 0 0 0 4px;
}

.input6 {
  margin: 0 4px 0 12px;
}

.text7 {
  margin: 0 4px 0 0;
}

.text8 {
  margin: 0 16px 0 0;
}

.input7 {
  margin: 0 24px 0 12px;
}

.text9 {
  margin: 0 24px 0 20px;
}

.input8 {
  margin: 0 12px 0 24px;
}

.input9 {
  margin: 0 0 0 12px;
}

h6 {
  top: 25px;
}

.card {
  width: 100%;
}

.btn {
  margin-top: 15px;
  border-color: blue;
}

.border-right1 {
  border-right: 1px solid;
  border-right-color: rgb(240, 226, 226);
  height: 70%;
}





