<ng-template #dialog let-data let-ref="dialogRef">
    <nb-alert *ngIf="submitted && !success" outline="danger" role="alert">
        <p class="alert-title"><b>Oh snap!</b></p>
        <ul class="alert-message-list">
            <li>Unfortunately, we're having trouble adding this contact.</li>
        </ul>
    </nb-alert>
    <nb-alert *ngIf="submitted && success" outline="success" role="alert">
        <p class="alert-title"><b>Hooray!</b></p>
        <ul class="alert-message-list">
            <li>Contact was successfully added!</li>
        </ul>
    </nb-alert>
</ng-template>
<nb-card>
    <nb-card-header>
        Add Referrer
    </nb-card-header>
    <nb-card-body>
            <div [formGroup]="crmForm" class="container form-horizontal">
                <div class="form-group">
                    <label for="company" class="col-form-label">Company Name:</label>                          
                            <input
                                nbInput
                                id="company"
                                fullWidth
                                formControlName="company"
                                [status]="
                                company?.hasError('minLength') ||
                                company?.hasError('maxLength')
                                    ? 'danger'
                                    : ''
                                "
                                class="form-control"
                                placeholder="Company"
                            />
                </div>
                <div class="form-group">
                    <label for="type" class="col-form-label">Type:</label>                          
                    <select
                    nbInput
                    id="type"
                    formControlName="type"
                    class="form-control">
                    <option disabled="disabled" selected="selected" value="">Please Select</option>
                    <option *ngFor="let t of typeInsert" [ngValue]="t.value">{{ t.display }}</option>
                  </select>
                </div>                
                <div class="form-group" formGroupName="name">
                    <label for="firstName" class="col-form-label">Name:</label>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <input
                                nbInput
                                id="firstName"
                                fullWidth
                                formControlName="firstName"
                                [status]="
                                    firstName?.hasError('minLength') ||
                                    firstName?.hasError('maxLength')
                                        ? 'danger'
                                        : ''
                                    "
                                    class="form-control"
                                    placeholder="First Name"
                                />
                        </div>
                        <div class="col-sm-6">
                            <input
                                nbInput
                                id="lastName"
                                fullWidth
                                formControlName="lastName"
                                [status]="
                                    lastName?.hasError('minLength') ||
                                    lastName?.hasError('maxLength')
                                        ? 'danger'
                                        : ''
                                    "
                                class="form-control"
                                placeholder="Last Name"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group" formGroupName="address">
                    <label for="address" class="col-form-label">Address:</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <input
                                nbInput
                                id="street"
                                fullWidth
                                formControlName="street"
                                [status]="
                                  street?.hasError('minLength') ||
                                  street?.hasError('maxLength')
                                    ? 'danger'
                                    : ''
                                "
                                class="form-control"
                                placeholder="Street Address"
                            />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <input
                                nbInput
                                id="city"
                                fullWidth
                                data-table="Address" data-column="city"  data-identifier="@contact.AddressId" data-key="ADDRESSID"
                                formControlName="city"
                                [status]="
                                  city?.hasError('minLength') ||
                                  city?.hasError('maxLength')
                                    ? 'danger'
                                    : ''
                                "
                                class="form-control"
                                placeholder="City"
                            />
                        </div>
                        <div class="col-sm-4">
                            <select
                                nbInput
                                id="state"
                                data-table="Address" data-column="state" data-identifier="@contact.AddressId" data-key="ADDRESSID"
                                formControlName="state"
                                class="form-control"
                            >
                                <option disabled="disabled" value="">Please Select</option>
                                <option *ngFor="let state of states" [ngValue]="state">{{ state }}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input
                                nbInput
                                id="zipcode"
                                fullWidth
                                data-table="Address" data-column="postalcode"  data-identifier="@contact.AddressId" data-key="ADDRESSID"
                                formControlName="zipcode"
                                [status]="
                                    zipcode?.hasError('minLength') ||
                                    zipcode?.hasError('maxLength')
                                    ? 'danger'
                                    : ''
                                "
                                class="form-control"
                                placeholder="Zip Code"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-form-label">Mobile Phone:</label>                          
                    <input
                        nbInput
                        id="mobile"
                        fullWidth
                        formControlName="mobile"
                        [status]="
                        mobile?.hasError('minLength') ||
                        mobile?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="mobile"
                    />
                </div>
                <div class="form-group">
                    <label for="phone" class="col-form-label">Work Phone:</label>                          
                    <input
                        nbInput
                        id="phone"
                        fullWidth
                        formControlName="phone"
                        [status]="
                          phone?.hasError('minLength') ||
                          phone?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="Phone"
                      />
                </div>
                <div class="form-group">
                    <label for="email" class="col-form-label">Email Address:</label>                          
                    <input
                        nbInput
                        id="email"
                        fullWidth
                        data-table="ClientInfo" data-column="EmailClient" data-identifier="@Model.OpportunityId" data-key="OpportunityId"
                        formControlName="email"
                        [status]="
                        email?.hasError('minLength') ||
                        email?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="email"
                    />
                </div>
                <div class="form-group">
                    <label for="fax" class="col-form-label">Fax Number:</label>                          
                    <input
                        nbInput
                        id="fax"
                        formControlName="fax"
                        fullWidth
                        [status]="
                        fax?.hasError('minLength') ||
                        fax?.hasError('maxLength')
                            ? 'danger'
                            : ''
                        "
                        class="form-control"
                        placeholder="fax"
                    />
                </div>
                <button type="submit" class="btn btn-primary" (click)="submit(dialog)" [disabled]="!crmForm.valid">Add</button>
            </div>
    </nb-card-body>
</nb-card>