<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6 class="text-basic">P65 Settlement</h6>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body class="slot" [formGroup]="form">

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>Opposing Party</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">OPC Link:</label>
                        <input nbInput formControlName="Party1Co" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Company:</label>
                        <input nbInput formControlName="Party1Co" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Contact:</label>
                        <input nbInput formControlName="Party1Name" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Direct:</label>
                        <input nbInput formControlName="Party1direct" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Work:</label>
                        <input nbInput formControlName="Party1phone" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mobile:</label>
                        <input nbInput formControlName="Party1mobile" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax:</label>
                        <input nbInput formControlName="Party1fax" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="Party1misc1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="Party1address" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="Party1city" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="Party1state" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="Party1zip" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Last Contact:</label>
                        <input [nbDatepicker]="datepicker1" formControlName="PlaintiffPhoneAcquire" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker1>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Next Contact:</label>
                        <input [nbDatepicker]="datepicker2" formControlName="CRED1PROOF" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker2>
                        </nb-datepicker>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>Settlement Terms</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Initial Demand:</label>
                        <input nbInput formControlName="InitialDemand" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <input [nbDatepicker]="datepicker3" class="select" formControlName="InitialDemandDate" fullWidth
                            nbInput placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker3>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Initial Offer:</label>
                        <input nbInput formControlName="InitialOffer" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <input [nbDatepicker]="datepicker4" class="select" formControlName="InitialOfferDate" fullWidth
                            nbInput placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker4>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Plantiff Counter:</label>
                        <input nbInput formControlName="CounterSettl" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <input [nbDatepicker]="datepicker5" class="select" formControlName="CounterSettlDate" fullWidth
                            nbInput placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker5>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">OPC Counter:</label>
                        <input nbInput formControlName="ProposedSettl" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <input [nbDatepicker]="datepicker6" class="select" formControlName="PROPOSEDSETTLDATE" fullWidth
                            nbInput placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker6>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Final Agreed Settlement:</label>
                        <input nbInput formControlName="FinalAgreedSettlement" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <input [nbDatepicker]="datepicker7" class="select" formControlName="FinalAgreedSettlementDate"
                            fullWidth nbInput placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker7>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Rule 68/998 Offer:</label>
                        <input nbInput formControlName="ClientMoPmt9" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <input [nbDatepicker]="datepicker8" class="select" formControlName="ClientMoPaid10" fullWidth
                            nbInput placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker8>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">68/998 Resp. Due:</label>
                        <input [nbDatepicker]="datepicker9" formControlName="ClientMoPaid11" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker9>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Remediation Date:</label>
                        <input [nbDatepicker]="datepicker10" formControlName="Settled_20" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker10>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Notice to Cure Date:</label>
                        <input [nbDatepicker]="datepicker11" formControlName="Step16Completed" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker11>
                        </nb-datepicker>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>Judgment Terms</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Judgement Date:</label>
                        <input [nbDatepicker]="datepicker12" formControlName="JudgementDate" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker12>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Judgement Type:</label>
                        <nb-select placeholder="" formControlName="JudgementType" size="medium" fullWidth
                            status="primary">
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Judgement Pusuant Setmnt:</label>
                        <nb-select placeholder="" formControlName="JudgementSettle" size="medium" fullWidth
                            status="primary">
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Settlement Date:</label>
                        <input [nbDatepicker]="datepicker13" formControlName="FinalSettlementDate" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker13>
                        </nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Settlement Type:</label>
                        <nb-select placeholder="" formControlName="SettlementType1" size="medium" fullWidth
                            status="primary">
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Court Name:</label>
                        <nb-select placeholder="" formControlName="CourtName" size="medium" fullWidth status="primary">
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Court Docket Number:</label>
                        <input nbInput formControlName="CourtDocket" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Will Settlement be Submitted by Court?:</label>
                        <nb-select placeholder="" formControlName="SettlementType2" size="medium" fullWidth
                            status="primary">
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Civil Penalty:</label>
                        <input nbInput formControlName="civilpenalties" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">CP Amt of OEHHA:</label>
                        <input nbInput formControlName="GrossRevTotal" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">CP Amount of Calsafe:</label>
                        <input nbInput formControlName="OtherPmts" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Attorney Fees:</label>
                        <input nbInput formControlName="GrossRevTotal" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Cost Reimburse to Calsafe:</label>
                        <input nbInput formControlName="GrossRevTotal" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Additional Settlement Payment to Calsafe:</label>
                        <input nbInput formControlName="OtherPmts" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Other Payments Comments:</label>
                        <textarea style="min-height: 120px;" nbInput formControlName="OtherPaymentMemo"
                            fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth></textarea>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Settlement Ready to Upload:</label>
                        <input [nbDatepicker]="datepicker14" formControlName="SettlementOfferDte1" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker14>
                        </nb-datepicker>
                    </div>
                    <div class="col-md-2">
                        <nb-checkbox class="btn" formControlName="SettlementType2" status="success"></nb-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Judgement Ready to Upload:</label>
                        <input [nbDatepicker]="datepicker15" formControlName="JudgementSat" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker15>
                        </nb-datepicker>
                    </div>
                    <div class="col-md-2">
                        <nb-checkbox class="btn" formControlName="LTAAssginedTo" status="success"></nb-checkbox>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Injuctive Relief:</label>
                <textarea style="min-height: 200px;" nbInput formControlName="InjuctiveRelief" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth></textarea>
            </div>
        </div>



    </nb-card-body>
</nb-card>