<nb-card class="card">
  <nb-card-header class="slot">
    <div class="row">
      <div class="col-md">
        <h6 class="text-basic">{{ this.accountName }} Account Details</h6>
      </div>
    </div>
  </nb-card-header>
  <!--Add Picklist for subtype-->
  <nb-card-body class="slot" [formGroup]="form">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Account:</label>
            <input
              formControlName="account"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Web:</label>
            <input
              formControlName="web"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Type:</label>
            <nb-select
              fullWidth
              placeholder="select"
              fieldSize="medium"
              status="primary"
            >
              <nb-option value="option 1">Client</nb-option>
              <nb-option value="option 2">Entity</nb-option>
              <nb-option value="option 2">Transaction</nb-option>
              <nb-option value="option 2">Vendor</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Division:</label>
            <input
              formControlName="division"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">UserID:</label>
            <input
              formControlName="userId"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Sub-Type:</label>
            <nb-select
              fullWidth
              placeholder="Stages"
              fieldSize="medium"
              status="primary"
            >
              <nb-option value="1"></nb-option>
              <nb-option value="2">New option</nb-option>
              <nb-option value="3">New option</nb-option>
              <nb-option value="4">New option</nb-option>
              <nb-option value="5">New option</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="row">
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Quick Name:</label>
            <input
              formControlName="quickName"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Password:</label>
            <input
              formControlName="password"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Status:</label>
            <nb-select
              fullWidth
              class="select"
              placeholder="select"
              fieldSize="medium"
              status="primary"
            >
              <nb-option value="Active">Active</nb-option>
              <nb-option value="Not Active">Not Active</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row">
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Main Phone:</label>
            <ngx-phone-control
              formControlName="mainPhone"
              [isMobile]="false"
              [recipient]="quickName.value"
            >
            </ngx-phone-control>
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Email Used:</label>
            <input
              formControlName="email"
              nbInput
              fullWidth
              class="select"
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Entity:</label>
            <input
              formControlName="entity"
              nbInput
              fullWidth
              class="select"
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Fax:</label>
            <input
              formControlName="fax"
              nbInput
              fullWidth
              class="select"
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Account #:</label>
            <input
              formControlName="accountNumber"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>

          <div class="col-md border-right1">
            <label class="text1 text-basic label">Acct. Mgr:</label>
            <input
              formControlName="accountManager"
              readonly
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md border-right1">
            <h6 class="header"><u>Home Address:</u></h6>
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Code:</label>
            <input
              formControlName="code"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>

          <div class="col-md border-right1">
            <label class="text1 text-basic label">Acct ID:</label>
            <input
              formControlName="accountId"
              readonly
              nbInput
              fullWidth
              class="select"
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Address1:</label>
            <input
              formControlName="address1"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md border-right1">
            <label class="text1 text-basic label">Monthly Amt:</label>
            <input
              formControlName="monthlyAmount"
              nbInput
              fullWidth
              placeholder="Enter Value"
              fieldSize="medium"
              type="number"
              shape="rectangle"
              status="primary"
            />
          </div>

          <div class="col-md border-right1">
            <label class="text1 text-basic label">Partner ID:</label>
            <input
              formControlName="partnerId"
              readonly
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <label class="text1 text-basic label">Address2:</label>
            <input
              formControlName="address2"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md"></div>
          <div class="col-md"></div>
        </div>
        <div class="row">
          <div class="col-md">
            <label class="text1 text-basic label">State:</label>
            <input
              formControlName="state"
              nbInput
              fullWidth
              class="select"
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md"></div>
          <div class="col-md"></div>
        </div>
        <div class="row">
          <div class="col-md">
            <label class="text1 text-basic label">City:</label>
            <input
              formControlName="city"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md"></div>
          <div class="col-md"></div>
        </div>
        <div class="row">
          <div class="col-md">
            <label class="text1 text-basic label">County:</label>
            <input
              formControlName="county"
              nbInput
              fullWidth
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
            <label class="text1 text-basic label">Zip:</label>
            <input
              nbInput
              formControlName="zip"
              fullWidth
              class="select"
              placeholder=""
              fieldSize="medium"
              type="text"
              shape="rectangle"
              status="primary"
            />
          </div>
          <div class="col-md"></div>
          <div class="col-md"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md">
            <label class="text1 text-basic label">Notes:</label>
            <textarea
              nbInput
              style="min-height: 400px;"
              formControlName="notes"
              placeholder="Notes"
              fieldSize="small"
              type="text"
              shape="rectangle"
              status="primary"
              fullWidth
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
