  #chatHistory {
    list-style-type: none;
    text-align: left;
    padding-top: 15px;
    padding-left: 0px !important;
    margin-bottom: 15px;
    max-height: 360px;
    overflow-y: auto;
  }
  
  
  #chatHistory li {
    font-size: 0.85em;
    word-break: break-word;
  }

    #chatHistory li .name {
      font-weight: bold;
      margin-right: 5px;
    }

    #chatHistory li.message-info {
      text-align: center;
      color: #999;
    }

    
#bottomPanel {
  display: inherit;
}
  #messageTextbox {
    max-height: 150px;
    min-height: 40px;
  }
  #messageTextboxSubmit {
    box-sizing: border-box;    
    padding: 10px;    
  }

  #chatHistory li.message .data{
    margin: 14px;
    padding: 8px;
    width: 80%;
    color: white;
    /*font-size: 0.85em;*/
    word-break: break-word;
  }

  #chatHistory li.message .meta-data{
    color: lightgray;    
    font-size: 0.75em;
    margin-top:-14px;
  }

  #chatHistory li.message.received .data{
    margin-left: 0px;
    padding-left: 8px; 
    margin-right:20%;
    border-color: green;
    background-color: #78C257;    
    border-radius: 10px 10px 10px 0;
  }

  #chatHistory li.message.received .meta-data{    
    
    margin-left: 0px;
    padding-left: 0px;    
  }

  #chatHistory li.message.sent .data{
    margin-left: 20%;
    border-color: #006AFF;
    background-color: #00B2FF;    
    border-radius: 10px 10px 0px 10px;
    text-align: right;
  }

  #chatHistory li.message.sent .meta-data{    
    margin-right: 14px;
    padding-right: 8px;    
    text-align: right;
  }