<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6 class="text-basic">{{ this.accountName }} Parties Involved</h6>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="slot" [formGroup]="form">

        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><strong><u>Buyers Agent:</u></strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Link:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="link" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Edit Agent:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="edAgent" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Company:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="comp" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Contact:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="contact" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput fullWidth fieldSize="medium" type="email" shape="rectangle" status="primary"
                            formControlName="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Bus Ph:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="phBus" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="fax" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Cell:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="cell" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Assistant:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="assistnt" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput fullWidth fieldSize="medium" type="email" shape="rectangle" status="primary"
                            formControlName="email2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Work:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="work" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mobile:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="mob" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="addy" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="state" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="city" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="zip" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">BDR_ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="bdrId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Contact ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="contactId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Acc ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="accId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Owner ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ownerId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Broker ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="brokerId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Sellers Information:</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Seller:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="seller" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="phone" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="fax2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Escrow Email:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="escEmail" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><strong><u>Listing Agent:</u></strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="link2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="edAgent2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="comp2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="contact2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="email" shape="rectangle"
                            status="primary" formControlName="email3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="phBus2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="fax3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="cell2" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="assistnt2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="email4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="work2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="mob2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="addy2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="state2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="city2" />
                    </div>
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="zip2" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="bdrId2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="contactId2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="accId2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="ownerId2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="brokerId2" />
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><strong><u>Escrow Agent:</u></strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="link3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="edAgent3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="comp3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">#:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="contact3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="email" shape="rectangle"
                            status="primary" formControlName="email5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="phBus3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="fax4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="cell3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <textarea nbInput formControlName="notes" class="text2" placeholder="..." fieldSize="medium"
                            type="text" shape="rectangle" status="primary" style="min-height: 163px;" fullWidth
                            formControlname="notes"></textarea>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Insurance/HOA:</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="insur1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="insur2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="insur3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">#:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="insur4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="email" shape="rectangle"
                            status="primary" formControlName="insur5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="insur6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="insur7" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <button nbButton class="text2" status="primary" fullWidth fieldSize="medium">HOA Client</button>
                    </div>
                </div>
                <hr>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><strong><u>Title Agent:</u></strong></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="link4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="edAgent4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="comp4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">#:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="contact4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="email" shape="rectangle"
                            status="primary" formControlName="email6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="phBus4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="fax5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="cell4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="assist4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="work3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="work4" />
                    </div>
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="work5" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Appraiser:</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="apprs1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="apprs2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="apprs3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <button nbButton class="text2" status="primary" fullWidth fieldSize="medium">Appraisal Order
                            Form</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="email7" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="apprs5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput class="text2" fullWidth fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="apprs6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">License:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="apprs7" />
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Loan Officer</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Link:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="link5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Cont ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="contId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Company:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="comp5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Contact:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="contact5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Title:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="title" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput fullWidth fieldSize="medium" type="email" shape="rectangle" status="primary"
                            formControlName="email8" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Bus Ph:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="phBus5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="fax6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mobile:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="mob3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">NMLS#:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="nmlsNum" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">DRE#:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="dreNum" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">BDR:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="bdr" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="addy3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="addy4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="addy5" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="addy6" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Referral Source</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="refer1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="refer2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="refer3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="refer4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="refer5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="refer6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="refer7" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="refer8" />
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Processor</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="link6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="contId2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="comp6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="contact6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="title2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="proc6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="phBus6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="fax7" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="mob4" />
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Account Manager:</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="accMngr" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">User ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="userId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Title:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="title3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone Number:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="phone2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Mobile Number:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="mob5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax Number:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="fax8" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="email9" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Company Name:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="compName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="compName2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="addy7" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth fieldSize="medium" class="text2" type="text" shape="rectangle"
                            status="primary" formControlName="addy8" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth fieldSize="medium" class="text2" type="text" shape="rectangle"
                            status="primary" formControlName="addy9" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth fieldSize="medium" class="text2" type="text" shape="rectangle"
                            status="primary" formControlName="addy10" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text3 text-basic label">Account Manager ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="accMngId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Manager ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="mngId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Area Manager ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="areaMngId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Regional Manager ID:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="regiMngId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Vice President:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="vicepId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Admin:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="admin" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Super Admin:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="supAdmin" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Global Admin:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="globAdmin" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="miscInput" />
                    </div>
                </div>
            </div>
        </div>


    </nb-card-body>
</nb-card>