<div class="row">
  <!-- Messages list -->
  <div class="col">
    <div class="card-body">
      <!-- Header -->
      <h4 class="m-0">New message</h4>
      <hr class="my-4" />
      <!-- / Header -->

      <div class="form-group">
        <label class="form-label">To:</label>
        <input [(ngModel)]="messageData.to" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <label class="form-label">Subject:</label>
        <input
          [(ngModel)]="messageData.subject"
          type="text"
          class="form-control"
        />
      </div>

      <div class="form-group mt-4">
        <quill-editor
          [(ngModel)]="messageData.content"
          placeholder="Type something"
        ></quill-editor>
      </div>

      <div class="text-right mt-4">
        <button type="button" class="btn btn-primary ml-2">
          <i class="ion ion-ios-paper-plane"></i>&nbsp; Send
        </button>
        <button type="button" class="btn btn-default ml-2">Cancel</button>
      </div>
    </div>
  </div>
  <!-- / Messages list -->
</div>
