<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6 class="text-basic">Provider Details</h6>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="slot" [formGroup]="form">


        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Provider Types:</label>
                        <nb-select placeholder="" formControlName="PARTYSUBTYPE" size="medium" fullWidth
                            status="primary">
                            <nb-option value="Ambulance">Ambulance</nb-option>
                            <nb-option value="Acupuncture">Acupuncture</nb-option>
                            <nb-option value="Anesthesiologist">Anesthesiologist</nb-option>
                            <nb-option value="Audiologist">Audiologist</nb-option>
                            <nb-option value="Chiropractor">Chiropractor</nb-option>
                            <nb-option value="Collections">Collections</nb-option>
                            <nb-option value="Defedant">Defedant</nb-option>
                            <nb-option value="Diagnostic Scans">Diagnostic Scans</nb-option>
                            <nb-option value="Fire Department">Fire Department</nb-option>
                            <nb-option value="Fluro Tech">Fluro Tech</nb-option>
                            <nb-option value="Health Insurance">Health Insurance</nb-option>
                            <nb-option value="Health Insurance Subrogation">Health Insurance Subrogation</nb-option>
                            <nb-option value="Hospital">Hospital</nb-option>
                            <nb-option value="Loan Company">Loan Company</nb-option>
                            <nb-option value="Medical Equipment">Medical Equipment</nb-option>
                            <nb-option value="Medpay Reimbursement">Medpay Reimbursement</nb-option>
                            <nb-option value="Neruo-Rehabilitation">Neruo-Rehabilitation</nb-option>
                            <nb-option value="Neurologist">Neurologist</nb-option>
                            <nb-option value="Neuropsyc">Neuropsyc</nb-option>
                            <nb-option value="Neurosurgeon">Neurosurgeon</nb-option>
                            <nb-option value="Orthopedic">Orthopedic</nb-option>
                            <nb-option value="Pain Management">Pain Management</nb-option>
                            <nb-option value="Paramedics">Paramedics</nb-option>
                            <nb-option value="Physical Therapist">Physical Therapist</nb-option>
                            <nb-option value="Primary Doctor">Primary Doctor</nb-option>
                            <nb-option value="Psychologist">Psychologist</nb-option>
                            <nb-option value="Surgery Center">Surgery Center</nb-option>
                            <nb-option value="Urgentcare">Urgentcare</nb-option>
                            <nb-option value="Vision Therapy">Vision Therapy</nb-option>
                        </nb-select>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Sub Types:</label>
                        <nb-select placeholder="" formControlName="PARTYTYPE2" size="medium" fullWidth status="primary">
                            <nb-option value="ER">ER</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Company:</label>
                        <input nbInput formControlName="PARTY1COMPANY" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Name:</label>
                        <input nbInput formControlName="PARTY1FULLNAME" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone:</label>
                        <input nbInput formControlName="PARTY1DIRECTPHONE" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="PARTY1EMAIL" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax:</label>
                        <input nbInput formControlName="PARTY1FAX" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="PARTYADDRESS" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="PARTYCITY" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="PARTYSTATE" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="PARTYZIP" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Treating Grid:</label>
                        <textarea style="min-height: 250px;" nbInput formControlName="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" fullWidth></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Total Cost of Treatments:</label>
                        <input nbInput formControlName="BILLTOTAL" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Adjustment Amt:</label>
                        <input nbInput formControlName="ADJBILLTOTAL" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Final Due:</label>
                        <input nbInput formControlName="BILLDUETOTAL" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <label class="text1 text-basic label" style="color: red;"><u>Provider</u></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Medical Records</u></label>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Billing</u></label>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Lien Negotiations</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Name:</label>
                        <input nbInput formControlName="PARTY2NAME" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Name:</label>
                        <input nbInput formControlName="PARTY3NAME" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Name:</label>
                        <input nbInput formControlName="PARTY4NAME" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone Number:</label>
                        <input nbInput formControlName="PARTY2MAINPHONE" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone Number:</label>
                        <input nbInput formControlName="PARTY3PHONE" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone Number:</label>
                        <input nbInput formControlName="PARTY4PHONE" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax Number:</label>
                        <input nbInput formControlName="PARTY2FAX" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax Number:</label>
                        <input nbInput formControlName="PARTY3FAX" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Fax Number:</label>
                        <input nbInput formControlName="PARTY4FAX" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="PARTY2EMAIL" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="PARTY3EMAIL" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="PARTY4EMAIL" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="PARTY2ADDRESS" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="PARTY3ADDRESS" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="PARTY4ADDRESS" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="PARTY2CITY" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="PARTY3CITY" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="PARTY4CITY" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="PARTY2STATE" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="PARTY3STATE" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="PARTY4STATE" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="PARTY2ZIP" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="PARTY3ZIP" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="PARTY4ZIP" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>



            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Records Requested:</label>
                        <input [nbDatepicker]="datepicker1" formControlName="PARTYDATE1" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker1>
                        </nb-datepicker>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Records Requested:</label>
                        <input [nbDatepicker]="datepicker2" formControlName="PARTYDATE3" fullWidth nbInput
                            placeholder="" fieldSize="medium" shape="rectangle" status="primary">
                        <nb-datepicker #datepicker2>
                        </nb-datepicker>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Notes:</label>
                        <textarea style="min-height: 190px;" nbInput formControlName="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" fullWidth></textarea>
                    </div>
                </div>

            </div>
        </div>
        <hr>



    </nb-card-body>
</nb-card>