<nb-card class="card">
  <nb-card-header>{{ mode }} user</nb-card-header>
  <nb-card-body>
    <div [formGroup]="userForm" class="container">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md">
                <label for="employType">Employ Type:</label>
                <nb-select fullWidth class="select" placeholder="select" fieldSize="medium" status="primary"
                  formControlName="employType">
                  <nb-option value="1">1</nb-option>
                  <nb-option value="2">2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="role">Role:</label>
                <nb-select fullWidth class="select" placeholder="select" fieldSize="medium" status="primary"
                  formControlName="role">
                  <nb-option value="1">1</nb-option>
                  <nb-option value="2">2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="inputTitle">Title:</label>
                <input nbInput id="inputTitle" formControlName="title" fieldSize="medium" fullWidth status="primary"
                  class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="inputfirstName">First Name:</label>
                <input nbInput id="inputfirstName" formControlName="firstName" fieldSize="medium" fullWidth
                  status="primary" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="inputlastName">Last Name:</label>
                <input nbInput id="inputlastName" formControlName="lastName" fieldSize="medium" fullWidth
                  status="primary" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="inputmobilePhone">Mobile Phone:</label>
                <ngx-phone-control formControlName="mobilePhone" [isMobile]="true" [recipient]="
                    this.firstName.value.concat(' ').concat(this.lastName.value)
                  "></ngx-phone-control>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="inputEmail">Email:</label>
                <input nbInput id="inputEmail" formControlName="email" status="primary" fieldSize="medium" fullWidth
                  class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="inputemailPersonal">Personal Email:</label>
                <input nbInput id="inputemailPersonal" formControlName="emailPersonal" fieldSize="medium" fullWidth
                  status="primary" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="inputemailPersonal">Photo Url:</label>
                <input nbInput id="inputPhotoUrl" formControlName="photoUrl" fieldSize="medium" fullWidth
                  status="primary" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label class="text1 text-basic label">Choose File:</label>
                <input type="file" id="myFile" status="primary" />
              </div>
            </div>
          </div>
          <div class="col-md-6" cols>
            <div class="row">
              <div class="col-md">
                <label for="region">Region:</label>
                <nb-select fullWidth id="region" class="select" placeholder="select" fieldSize="medium" status="primary"
                  formControlName="region">
                  <nb-option value="1">1</nb-option>
                  <nb-option value="2">2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="division">Division:</label>
                <nb-select fullWidth class="select" placeholder="select" fieldSize="medium" status="primary"
                  formControlName="division">
                  <nb-option value="1">1</nb-option>
                  <nb-option value="2">2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="area">Area:</label>
                <nb-select fullWidth class="select" placeholder="select" fieldSize="medium" status="primary"
                  formControlName="area">
                  <nb-option value="1">1</nb-option>
                  <nb-option value="2">2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="department">Department:</label>
                <nb-select fullWidth class="select" placeholder="select" fieldSize="medium" status="primary"
                  formControlName="department">
                  <nb-option value="1">1</nb-option>
                  <nb-option value="2">2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="teams">Teams:</label>
                <nb-select fullWidth class="select" placeholder="select" fieldSize="medium" status="primary"
                  formControlName="teams">
                  <nb-option value="1">1</nb-option>
                  <nb-option value="2">2</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <label for="inputregManager">Regional Manager:</label>
                <input nbInput id="inputregManager" formControlName="regManager" fieldSize="medium" fullWidth
                  status="primary" class="form-control" />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md">
                <div class="row">
                  <div class="col-md">
                    <h6><u>Location Address</u></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md" formGroupName="address">
                    <label for="inputStreet">Street:</label>
                    <input nbInput id="inputStreet" formControlName="Street" fieldSize="medium" fullWidth
                      status="primary" class="form-control" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md" formGroupName="address">
                    <label for="inputCity">City:</label>
                    <input nbInput id="inputCity" formControlName="City" fieldSize="medium" fullWidth status="primary"
                      class="form-control" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md" formGroupName="address">
                    <label for="inputState">State:</label>
                    <input nbInput id="inputState" formControlName="state" fieldSize="medium" fullWidth status="primary"
                      class="form-control" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md" formGroupName="address">
                    <label for="inputZip">Zip:</label>
                    <input nbInput id="inputZip" formControlName="zip" fieldSize="medium" fullWidth status="primary"
                      class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>