@import '../../../@theme/styles/themes.scss';

.form-control {
    background-color: black !important;
}

ng2-smart-table {
    .ng2-smart-filter input {        
        background-color: nb-theme(smart-table-header-bg);
        color: nb-theme(smart-table-header-fg);
    }

    .ng2-smart-filter select {
        background-color: nb-theme(smart-table-header-bg);
        color: nb-theme(smart-table-header-fg);
    }    
};