<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h5 class="text-basic">Add Policy</h5>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body class="slot" [formGroup]="form">
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Agent:</label>
                <nb-select class="select" placeholder="Select Agent" size="medium" fullWidth status="primary"
                    formControlName="agent">
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Status:</label>
                <nb-select class="select" placeholder="Case Status" fullWidth size="medium" status="primary"
                    formControlName="status">
                    <nb-option value="Client">Client</nb-option>
                    <nb-option value="Deceased">Deceased</nb-option>
                    <nb-option value="Delete">Delete</nb-option>
                    <nb-option value="Inactive">Inactive</nb-option>
                    <nb-option value="Trash">Trash</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <button nbButton class="button" size="medium" appearance="filled" status="primary">
                    Renewls
                </button>
            </div>
            <div class="col-md">
                <button nbButton class="button" size="medium" appearance="filled" status="primary">
                    Files
                </button>
            </div>

        </div>
        <hr />
        <!-- Policy 1 -->
        <div class="row">
            <div class="col-md">
                <h6><u>Policy 1</u></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Plan:</label>
                <nb-select class="text1" formControlName="policyPlan" placeholder="Select Plan" size="medium"
                    status="primary" fullWidth>
                    <nb-option value="HMO">HMO</nb-option>
                    <nb-option value="HMO SNP">HMO SNP</nb-option>
                    <nb-option value="HDF">HDF</nb-option>
                    <nb-option value="PDP">PDP</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Carrier:</label>
                <nb-select class="text1" formControlName="policyCarrier" placeholder="Select Carrier" size="medium"
                    status="primary" fullWidth>
                    <nb-option value="Aetna">Aetna</nb-option>
                    <nb-option value="Anthem">Anthem</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Product:</label>
                <nb-select class="text1" formControlName="policyProduct" placeholder="Select Product" size="medium"
                    status="primary" fullWidth>
                    <nb-option value="Standard">Standard</nb-option>
                    <nb-option value="Medicare RX essential">Medicare RX essential</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Group:</label>
                <nb-select class="text1" formControlName="policyGroup" placeholder="Select Group" size="medium"
                    status="primary" fullWidth>
                    <nb-option value="Individual">Individual</nb-option>
                    <nb-option value="Individual and Spouse">Individual and Spouse</nb-option>
                    <nb-option value="Individual and Child">Individual and Child</nb-option>
                    <nb-option value="Individual and Family">Individual and Family</nb-option>
                    <nb-option value="Child">Child</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Duration:</label>
                <nb-select class="text1" formControlName="policyDuration" placeholder="Select Duration" size="medium"
                    status="primary" fullWidth>
                    <nb-option value="No Duration">No Duration</nb-option>
                    <nb-option value="1 Month">1 Month</nb-option>
                    <nb-option value="2 Months">2 Months</nb-option>
                    <nb-option value="3 Months">3 Months</nb-option>
                    <nb-option value="4 Months">4 Months</nb-option>
                    <nb-option value="5 Months">5 Months</nb-option>
                    <nb-option value="6 Months">6 Months</nb-option>
                    <nb-option value="7 Months">7 Months</nb-option>
                    <nb-option value="8 Months">8 Months</nb-option>
                    <nb-option value="9 Months">9 Months</nb-option>
                    <nb-option value="10 Months">10 Months</nb-option>
                    <nb-option value="11 Months">11 Months</nb-option>
                    <nb-option value="12 Months">12 Months</nb-option>
                    <nb-option value="1 Year">1 Year</nb-option>
                    <nb-option value="5 Years">5 Years</nb-option>
                    <nb-option value="10 Years">10 Years</nb-option>
                    <nb-option value="15 Years">15 Years</nb-option>
                    <nb-option value="20 Years">20 Years</nb-option>
                    <nb-option value="30 Years">30 Years</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Coinsurance:</label>
                <nb-select class="text1" formControlName="policyCoinsurance" placeholder="Select Coinsurance"
                    size="medium" status="primary" fullWidth>
                    <nb-option value="50/50">50/50</nb-option>
                    <nb-option value="60/40">60/40</nb-option>
                    <nb-option value="70/30">70/30</nb-option>
                    <nb-option value="80/20">80/20</nb-option>
                    <nb-option value="90/10">90/10</nb-option>
                    <nb-option value="100">100</nb-option>
                </nb-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Policy Number:</label>
                <input nbInput class="text1" formControlName="policyNumber" placeholder="Enter Policy #"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 italic text-basic label">Application Number:</label>
                <input nbInput class="text1" formControlName="policyAppNumber" placeholder="Enter App. Number"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Premium:</label>
                <input nbInput class="text1" formControlName="policyPremium" placeholder="Enter Premium #"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Enrollment Fee:</label>
                <input nbInput class="text1" formControlName="policyEnrollmentFee" placeholder="Enter Fee Price"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Admin Fee:</label>
                <input nbInput class="text1" formControlName="policyAdminFee" placeholder="Enter Fee Price"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Deductible:</label>
                <input nbInput class="text1" formControlName="policyDeductible" placeholder="Enter Deductible #"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Effective Date:</label>
                <input [nbDatepicker]="datepicker1" nbInput class="text1" placeholder="Click Here" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="policyEffectiveDt" />
                <nb-datepicker #datepicker1> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Post Date:</label>
                <input [nbDatepicker]="datepicker2" nbInput class="text1" placeholder="Clicke Here" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="policyPostDt" />
                <nb-datepicker #datepicker2> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Enforce Date:</label>
                <input [nbDatepicker]="datepicker3" nbInput class="text1" placeholder="Click Here" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="policyEnforceDt" />
                <nb-datepicker #datepicker3></nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Issued Date:</label>
                <input [nbDatepicker]="datepicker4" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="policyIssuedDt" />
                <nb-datepicker #datepicker4> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Paid Date:</label>
                <input [nbDatepicker]="datepicker5" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="policyPaidDt" />
                <nb-datepicker #datepicker5> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Billed Date:</label>
                <input [nbDatepicker]="datepicker6" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="policyBilledDt" />
                <nb-datepicker #datepicker6> </nb-datepicker>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <nb-checkbox class="text1" status="info">New To Doctor</nb-checkbox>
            </div>
            <div class="col-md">
                <nb-checkbox class="text1" status="info">New To Medical Group</nb-checkbox>
            </div>
            <div class="col-md">
                <nb-checkbox class="text1" status="info">New to Medicare</nb-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <nb-checkbox class="text1" status="info">Has Medicare</nb-checkbox>
            </div>
            <div class="col-md">
                <nb-checkbox class="text1" status="info">Has Medicaid</nb-checkbox>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md">
                <nb-checkbox class="text1" status="info">Is Renewed</nb-checkbox>
            </div>
            <div class="col-md">
                <nb-checkbox class="text1" status="info">Is Plan Switch</nb-checkbox>
            </div>
            <div class="col-md">
            </div>
        </div>
        <hr />
        <!--Market Place/Subsidized-->
        <div class="row">
            <div class="col-md">
                <h6><u>Marketplace (Health Insurance Exchange)</u></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <nb-checkbox status="info">Marketplace</nb-checkbox>
            </div>
        </div>
        <!--Premium Mapped-->
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Premium Subsidized:</label>
                <input nbInput class="text1" formControlName="premiumSubsidized" placeholder="Enter Price"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md"></div>
        </div>
        <hr />
        <!--Life insurance-->
        <div class="row">
            <div class="col-md">
                <h6><u>Life Insurance</u></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Face Amount:</label>
                <input nbInput class="text1" formControlName="insurFaceAmount" placeholder="$000.00" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Beneficiary:</label>
                <input nbInput class="text1" formControlName="insurBeneficiary" placeholder="" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Beneficiary Relationship:</label>
                <nb-select class="text1" formControlName="insurBeneficiaryRelationship"
                    placeholder="Relationship Status" size="medium" status="primary" fullWidth>
                    <nb-option value="Aunt">Aunt</nb-option>
                    <nb-option value="Boyfriend">Boyfriend</nb-option>
                    <nb-option value="Brother">Brother</nb-option>
                    <nb-option value="Daughter">Daughter</nb-option>
                    <nb-option value="Father">Father</nb-option>
                    <nb-option value="Fiance">Fiance</nb-option>
                    <nb-option value="Friend">Friend</nb-option>
                    <nb-option value="Girlfriend">Girlfriend</nb-option>
                    <nb-option value="Grandfather">Grandfather</nb-option>
                    <nb-option value="Grandmother">Grandmother</nb-option>
                    <nb-option value="Mother">Mother</nb-option>
                    <nb-option value="Nephew">Nephew</nb-option>
                    <nb-option value="Niece">Niece</nb-option>
                    <nb-option value="Sister">Sister</nb-option>
                    <nb-option value="Son">Son</nb-option>
                    <nb-option value="Spouse">Spouse</nb-option>
                    <nb-option value="Stepdaughter">Stepdaughter</nb-option>
                    <nb-option value="Stepson">Stepson</nb-option>
                    <nb-option value="Uncle">Uncle</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Beneficiary Dob:</label>
                <input [nbDatepicker]="datepicker7" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="insurBeneficiaryDob">
                <nb-datepicker #datepicker7>
                </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Beneficiary Phone:</label>
                <input nbInput class="text1" formControlName="insurBeneficiaryPhone" placeholder="(000)000-0000"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
            </div>
        </div>
        <hr>
        <!--Blilling Information-->
        <div class="row">
            <div class="col-md">
                <h6><u>Billing Information</u></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">First Name:</label>
                <input nbInput class="text1" formControlName="billingFirstName" placeholder="Enter First Name"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Middle Name:</label>
                <input nbInput class="text1" formControlName="billingMiddleName" placeholder="Enter Middle Name"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Last Name:</label>
                <input nbInput class="text1" formControlName="billingLastName" placeholder="Enter Last Name"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md">
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Address:</label>
                <input nbInput class="text1" formControlName="billingAddress" placeholder="Enter Mailing Address"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Address2:</label>
                <input nbInput class="text1" formControlName="billingAddress2" placeholder="Enter Address2"
                    fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Zip code:</label>
                <input nbInput class="text1" formControlName="billingZip" placeholder="*****" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="cool-md">
                <label class="text1 text-basic label">City:</label>
                <input nbInput class="text1" formControlName="billingCity" placeholder="Enter City" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">State:</label>
                <input nbInput class="text1" formControlName="billingState" placeholder="Enter State" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Payment Type:</label>
                <nb-select class="text1" formControlName="billingPaymentType" placeholder="Select Payment Type"
                    size="medium" status="primary" fullWidth>
                    <nb-option value="option 1">1</nb-option>
                    <nb-option value="option 2">1</nb-option>
                </nb-select>
            </div>
        </div>
        <hr>
        <!--Credit Card-->
        <div class="row">
            <div class="col-md">
                <h6><u>Credit Card</u></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Cc Number:</label>
                <input nbInput class="text1" formControlName="ccNumber" placeholder="" fieldSize="medium" type="text"
                    shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Cc Exp Mm:</label>
                <input nbInput class="text1" formControlName="ccExpmm" placeholder="00" fieldSize="medium" type="text"
                    shape="rectangle" status="primary" fullWidth>
            </div>
            <div class=" col-md">
                <label class="text1 text-basic label">Cc Exp Yy:</label>
                <input nbInput class="text1" formControlName="ccExpyy" placeholder="00" fieldSize="medium" type="text"
                    shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Cc Cvv:</label>
                <input nbInput class="text1" formControlName="ccCvv" placeholder="" fieldSize="medium" type="text"
                    shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Cc Type:</label>
                <nb-select class="text1" formControlName="ccType" placeholder="Select Credit Card Type" size="medium"
                    status="primary" fullWidth>
                    <nb-option value="Visa">Visa</nb-option>
                    <nb-option value="MasterCard">MasterCard</nb-option>
                    <nb-option value="American Express">American Express</nb-option>
                    <nb-option value="Discover">Discover</nb-option>
                    <nb-option value="Other">Other</nb-option>
                </nb-select>
            </div>
            <div class="col-md"></div>
        </div>
        <hr>
        <!--Bank Info.-->
        <div class="row">
            <div class="col-md">
                <h6><u>Bank Information</u></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Bank Name:</label>
                <input nbInput class="text1" formControlName="bankName" placeholder="" fieldSize="medium" type="text"
                    shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Bank Account Number:</label>
                <input nbInput class="text1" formControlName="bankAccNumber" placeholder="" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Bank Routing Number:</label>
                <input nbInput class="text1" formControlName="bankRoutingNumber" placeholder="" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Check Number:</label>
                <input nbInput class="text1" formControlName="bankCheckNumber" placeholder="" fieldSize="medium"
                    type="text" shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md"> </div>
            <div class="col-md">
            </div>
        </div>
        <hr>
        <!--Policy Info.-->
        <div class="row">
            <div class="col-md">
                <h6><u>Policy Information</u></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Created Date:</label>
                <input [nbDatepicker]="datepicker8" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoCreatedDt" />
                <nb-datepicker #datepicker8> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Modify Date:</label>
                <input [nbDatepicker]="datepicker9" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoModifyDt" />
                <nb-datepicker #datepicker9> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Fronted Date:</label>
                <input [nbDatepicker]="datepicker10" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoFrontedDt" />
                <nb-datepicker #datepicker10> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Converted Date:</label>
                <input [nbDatepicker]="datepicker11" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoConvertedDt" />
                <nb-datepicker #datepicker11> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Verified Date:</label>
                <input [nbDatepicker]="datepicker12" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoVerifiedDt" />
                <nb-datepicker #datepicker12> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Sale Date:</label>
                <input [nbDatepicker]="datepicker13" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoSaleDt" />
                <nb-datepicker #datepicker13> </nb-datepicker>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Interrupted Date:</label>
                <input [nbDatepicker]="datepicker14" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoInterruptedDt" />
                <nb-datepicker #datepicker14> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Kicked Date:</label>
                <input [nbDatepicker]="datepicker15" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoKickedDt" />
                <nb-datepicker #datepicker15></nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Cancelled Date:</label>
                <input [nbDatepicker]="datepicker16" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="policyBilledDt" />
                <nb-datepicker #datepicker16> </nb-datepicker>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Reactivated Date:</label>
                <input [nbDatepicker]="datepicker17" nbInput class="text1" placeholder="Enter Date" fieldSize="medium"
                    shape="rectangle" status="primary" fullWidth formControlName="infoReactivatedDt" />
                <nb-datepicker #datepicker17> </nb-datepicker>
            </div>
            <div class="col-md"></div>
            <div class="col-md">
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Created By:</label>
                <nb-select class="text1" formControlname="infoCreatedBy" placeholder="Ford F." size="medium"
                    status="primary" fullWidth>
                    <nb-option value="option 1">option 1</nb-option>
                    <nb-option value="option 2">option 2</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Modify By:</label>
                <nb-select class="text1" formControlName="infoModifyBy" placeholder="H. Remero" size="medium"
                    status="primary" fullWidth>
                    <nb-option value="option 1">option 1</nb-option>
                    <nb-option value="option 2">option 2</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Fronted By:</label>
                <nb-select class="text1" formControlName="infoFrontedby" placeholder="" size="medium" status="primary"
                    fullWidth>
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Converted By:</label>
                <nb-select class="text1" formControlName="infoConvertedBy" placeholder="" size="medium" status="primary"
                    fullWidth>
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Verified By:</label>
                <nb-select class="text1" formControlname="infoVerfiedBy" placeholder="" size="medium" status="primary"
                    fullWidth>
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Submitted By:</label>
                <nb-select class="text1" formControlname="infoSubmittedBy" placeholder="" size="medium" status="primary"
                    fullWidth>
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Interrupted By:</label>
                <nb-select class="text1" placeholder="infoInterruptedBy" size="medium" status="primary" fullWidth>
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Kicked By:</label>
                <nb-select class="text1" formControlName="infoKickedBy" placeholder="" size="medium" status="primary"
                    fullWidth>
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Cancelled By:</label>
                <nb-select class="text1" formControlName="infoCancelledBy" placeholder="" size="medium" status="primary"
                    fullWidth>
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
            <div class="col-md">
                <label class="text1 text-basic label">Reactivated By:</label>
                <nb-select class="text1" placeholder="" size="medium" status="primary" fullWidth>
                    <nb-option value="Ramirez, Carlos">Ramirez, Carlos</nb-option>
                    <nb-option value="Romero, Henry">Romero, Henry</nb-option>
                    <nb-option value="Luna Evelyn">Luna Evelyn</nb-option>
                    <nb-option value="Conroy, Alexander">Conroy, Alexander</nb-option>
                    <nb-option value="Chennur, Shashank">Chennur, Shashank</nb-option>
                    <nb-option value="Romero, Nico">Romero, Nico</nb-option>
                    <nb-option value="P, Deven">P, Deven</nb-option>
                    <nb-option value="Sadafule, Vaibhav">Sadafule, Vaibhav</nb-option>
                    <nb-option value="Choudry, Prasad">Choudry, Prasad</nb-option>
                    <nb-option value="Potdar, Aniket">Potdar, Aniket</nb-option>
                    <nb-option value="Goler, Chetan">Goler, Chetan</nb-option>
                    <nb-option value="Romero, Giovanni">Romero, Giovanni</nb-option>
                    <nb-option value="Chennur, Aishwarya">Chennur, Aishwarya</nb-option>
                    <nb-option value="Joshi, Meghana">Joshi, Meghana</nb-option>
                    <nb-option value="Maid, Vivek">Maid, Vivek</nb-option>
                    <nb-option value="K, Pankaj">K, Pankaj</nb-option>
                    <nb-option value="SS, Rohit">SS, Rohit</nb-option>
                    <nb-option value="Parida Samrat">Parida Samrat</nb-option>
                    <nb-option value="Kannure, Kiran">Kannure, Kiran</nb-option>
                </nb-select>
            </div>
            <div class="col-md"></div>
            <div class="col-md">
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="text1 text-basic label">Contact ID:</label>
                <input nbInput class="text1" formControlName="contactId" placeholder="#" fieldSize="medium" type="text"
                    shape="rectangle" status="primary" fullWidth>
            </div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md">
            </div>
        </div>

    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <button nbButton class="button1" size="medium" appearance="filled" status="primary">
                Save
            </button>
            <button nbButton class="button1" size="medium" appearance="filled" status="warning">
                Cancel
            </button>
        </div>
    </nb-card-footer>
</nb-card>