<nb-card-body>
  <table class="table">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Description</th>
        <th>FileSize</th>
        <th class="text-right">
          <input
            type="file"
            #file
            (change)="upload(file.files[0])"
            style="display: none;"
          />
          <button class="btn btn-primary" (click)="file.click()">
            Upload <nb-icon icon="upload-outline"></nb-icon>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{ file.filename }}</td>
        <td>{{ file.description }}</td>
        <td>{{ file.fileSize }}</td>
        <td class="text-right">
          <button class="btn btn-primary" (click)="download(file.filename)">
            Download <nb-icon icon="download-outline"></nb-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</nb-card-body>
