<nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card size="small" [nbSpinner]="!referrerData">
      <ngx-top-referring-attorneys-header
        [type]="period"
        (periodChange)="setPeriodAngGetData($event)"
        [label]="label"
      ></ngx-top-referring-attorneys-header>
      <ngx-top-referring-attorneys-front
        *ngIf="referrerData"
        [frontCardData]="referrerData"
      ></ngx-top-referring-attorneys-front>
      <nb-icon
        class="toggle-icon"
        icon="chevron-up-outline"
        pack="eva"
        (click)="toggleView()"
      ></nb-icon>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="small" [nbSpinner]="!referrerBarData">
      <ngx-top-referring-attorneys-header
        [type]="period"
        (periodChange)="setPeriodAngGetData($event)"
      ></ngx-top-referring-attorneys-header>
      <ngx-top-referring-attorneys-back
        *ngIf="referrerBarData"
        [referrerBarData]="referrerBarData"
      ></ngx-top-referring-attorneys-back>
      <nb-icon
        class="toggle-icon"
        icon="chevron-down-outline"
        pack="eva"
        (click)="toggleView()"
      ></nb-icon>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
