<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6 class="text-basic">Courts</h6>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="slot" [formGroup]="form">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>State Case info.</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Judge:</label>
                        <input nbInput formControlName="CourtJudgeName" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Court House:</label>
                        <input nbInput formControlName="CourtName" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">County:</label>
                        <input nbInput formControlName="CaseDistrict" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Case Number:</label>
                        <input nbInput formControlName="CourtCaseNumber" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="CourtAddress1" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="CourtCity" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="CourtState" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="CourtZip" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Department:</label>
                        <input nbInput formControlName="CaseDivision" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone:</label>
                        <input nbInput formControlName="CourtPhone" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="JudgeEmail" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Remove to Fed</label>
                        <input [nbDatepicker]="datepicker1" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="RemovedToFedCourt" />
                        <nb-datepicker #datepicker1></nb-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>Federal Case info.</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Judge:</label>
                        <input nbInput formControlName="FedJudge" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Court House:</label>
                        <input nbInput formControlName="FedCourtHouse" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">County:</label>
                        <input nbInput formControlName="FedJudAdd2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Case Number:</label>
                        <input nbInput formControlName="FedCaseNumber" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Address:</label>
                        <input nbInput formControlName="FedJudAdd" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input nbInput formControlName="FedJudCity" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input nbInput formControlName="FedJudST" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input nbInput formControlName="FedJudZip" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Department:</label>
                        <input nbInput formControlName="FedCourtDept" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Phone:</label>
                        <input nbInput formControlName="FedCourtPhone" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="FedJudgeEmail" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" fullWidth />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Dismissed From Fed:</label>
                        <input [nbDatepicker]="datepicker2" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="DismissFromFed" />
                        <nb-datepicker #datepicker2></nb-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>Deposition Client</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Date:</label>
                        <input [nbDatepicker]="datepicker3" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="DepoDate" />
                        <nb-datepicker #datepicker3></nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Assigned to:</label>
                        <nb-select placeholder="" formControlName="DepoAssignedTo" size="medium" fullWidth
                            status="primary">
                            <nb-option value="1">1</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Completed:</label>
                        <input [nbDatepicker]="datepicker4" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="DepoCompleted" />
                        <nb-datepicker #datepicker4></nb-datepicker>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>Deposition Defendant</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Date:</label>
                        <input [nbDatepicker]="datepicker3" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="DepoDate2" />
                        <nb-datepicker #datepicker3></nb-datepicker>
                    </div>
                    <div class="col-md">
                        <input [nbDatepicker]="datepicker3" class="select" nbInput placeholder="Enter Date"
                            fieldSize="medium" shape="rectangle" status="primary" fullWidth
                            formControlName="DepoDate3" />
                        <nb-datepicker #datepicker3></nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Assigned to:</label>
                        <nb-select placeholder="" formControlName="DepoAssigned2" size="medium" fullWidth
                            status="primary">
                            <nb-option value="1">1</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <nb-select placeholder="" class="select" formControlName="DepoAssigned3" size="medium" fullWidth
                            status="primary">
                            <nb-option value="1">1</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Completed:</label>
                        <input [nbDatepicker]="datepicker4" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="DepoCompleted2" />
                        <nb-datepicker #datepicker4></nb-datepicker>
                    </div>
                    <div class="col-md">
                        <input [nbDatepicker]="datepicker4" nbInput class="select" placeholder="Enter Date"
                            fieldSize="medium" shape="rectangle" status="primary" fullWidth
                            formControlName="DepoCompleted3" />
                        <nb-datepicker #datepicker4></nb-datepicker>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>Deposition Expert
                                Witness</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Date:</label>
                        <input [nbDatepicker]="datepicker3" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="DepoDate4" />
                        <nb-datepicker #datepicker3></nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Assigned to:</label>
                        <nb-select placeholder="" formControlName="DepoAssined4" size="medium" fullWidth
                            status="primary">
                            <nb-option value="1">1</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Completed:</label>
                        <input [nbDatepicker]="datepicker5" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="DepoCompleted4" />
                        <nb-datepicker #datepicker5></nb-datepicker>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="color: red;"><u>Magistrate Judge</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Judge Name:</label>
                        <nb-select placeholder="" formControlName="Magastrate" size="medium" fullWidth status="primary">
                            <nb-option value="1">1</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Email:</label>
                        <input nbInput formControlName="MagastrateEmail" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" fullWidth />
                    </div>
                </div>
            </div>
        </div>

    </nb-card-body>
</nb-card>