<div class="slot">
  <div class="space space-component5 col-md-12 background-transparent">
    <div class="space space-component4 background-transparent">
      <nb-card class="card">
        <nb-card-body class="slot">
          <div class="row">
            <div class="col-md">
              <h5 class="text-basic">Complaint Process</h5>
            </div>
            <div class="col-md">
              <h5 class="text-basic">Compltd by:</h5>
            </div>
            <div class="col-md">
              <h5 class="text-basic">Barriers:</h5>
            </div>
            <div class="col-md">
              <h5 class="text-basic">Filings:</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="text1 text-basic paragraph">File Setup:</p>

              <input [nbDatepicker]="datepicker17" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker17>
              </nb-datepicker>

            </div>
            <div class="col-md">
              <nb-select class="datepicker" placeholder="select" size="tiny" status="basic">
                <nb-option value="option 1">option 1</nb-option>
                <nb-option value="option 2">option 2</nb-option>
              </nb-select>
            </div>
            <div class="col-md">
              <p class="text1 text-basic paragraph">Client Notes:</p>
              <input nbInput class="datepicker" placeholder="*Big Note Box&lt;----" fieldSize="medium" type="text"
                shape="rectangle" status="basic">
            </div>
            <div class="col-md">
              <p class="text1 text-basic paragraph">Filing Forms Drafted:</p>

              <input [nbDatepicker]="datepicker18" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker18>
              </nb-datepicker>

            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="text1 text-basic paragraph">Barriers Identified:</p>

              <input [nbDatepicker]="datepicker19" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker19>
              </nb-datepicker>

            </div>
            <div class="col-md">
              <nb-select placeholder="select" size="tiny" status="basic">
                <nb-option value="option 1">option 1</nb-option>
                <nb-option value="option 2">option 2</nb-option>
              </nb-select>
            </div>
            <div class="col-md">

            </div>
            <div class="col-md">
              <p class="text1 text-basic paragraph">NOI Date:</p>

              <input [nbDatepicker]="datepicker20" nbInput placeholder="" fieldSize="tiny" shape="rectangle"
                status="basic">
              <nb-datepicker #datepicker20>
              </nb-datepicker>

            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="text1 text-basic paragraph">Defendant Identified:</p>

              <input [nbDatepicker]="datepicker21" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker21>
              </nb-datepicker>

            </div>
            <div class="col-md">
              <nb-select placeholder="select" size="tiny" status="basic">
                <nb-option value="option 1">option 1</nb-option>
                <nb-option value="option 2">option 2</nb-option>
              </nb-select>
            </div>
            <div class="col-md">

            </div>
            <div class="col-md">

            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="text1 text-basic paragraph">Additional Resources:</p>

              <input [nbDatepicker]="datepicker22" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker22>
              </nb-datepicker>

            </div>
            <div class="col-md">
              <nb-select placeholder="select" size="tiny" status="basic">
                <nb-option value="option 1">option 1</nb-option>
                <nb-option value="option 2">option 2</nb-option>
              </nb-select>
            </div>
            <div class="col-md">

            </div>
            <div class="col-md">

            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="text1 text-basic paragraph">Complaint Drafted:</p>

              <input [nbDatepicker]="datepicker23" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker23>
              </nb-datepicker>

            </div>
            <div class="col-md">
              <nb-select placeholder="select" size="tiny" status="basic">
                <nb-option value="option 1">option 1</nb-option>
                <nb-option value="option 2">option 2</nb-option>
              </nb-select>
            </div>
            <div class="col-md">

            </div>
            <div class="col-md">

            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="text1 text-basic paragraph">Assessment Needed:</p>

              <input [nbDatepicker]="datepicker24" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker24>
              </nb-datepicker>

            </div>
            <div class="col-md">
              <nb-select placeholder="select" size="tiny" status="basic">
                <nb-option value="option 1">option 1</nb-option>
                <nb-option value="option 2">option 2</nb-option>
              </nb-select>
            </div>
            <div class="col-md">

            </div>
            <div class="col-md">

            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="text1 text-basic paragraph">Rule 11 Letter Sent:</p>

              <input [nbDatepicker]="datepicker25" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker25>
              </nb-datepicker>

            </div>
            <div class="col-md">

            </div>
            <div class="col-md">

            </div>
            <div class="col-md">

            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <p class="text1 text-basic paragraph">Rules 11 Letter Rcvd:</p>

              <input [nbDatepicker]="datepicker26" nbInput class="datepicker" placeholder="" fieldSize="tiny"
                shape="rectangle" status="basic">
              <nb-datepicker #datepicker26>
              </nb-datepicker>
            </div>
            <div class="col-md"></div>
            <div class="col-md"></div>
            <div class="col-md">

            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>