<nb-card>
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6 class="text-basic">Sales Com</h6>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="slot" [formGroup]="form">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">LastRefiDate:</label>
                        <input [nbDatepicker]="datepicker1" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="lastRefiDate" />
                        <nb-datepicker #datepicker1></nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Est. Prop Value:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="estPropV" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Occupancy:</label>
                        <nb-select fullWidth class="propType" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="occup">
                            <nb-option value="OO">OO</nb-option>
                            <nb-option value="NOO">NOO</nb-option>
                            <nb-option value="2nd Home">2nd Home</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="Agg">Agg</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Property Type:</label>
                        <nb-select fullWidth class="propType" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="propType">
                            <nb-option value="SFR">SFR</nb-option>
                            <nb-option value="Condo">Condo</nb-option>
                            <nb-option value="1 Unit">1 Unit</nb-option>
                            <nb-option value="2 Unit">2 Unit</nb-option>
                            <nb-option value="3 Unit">3 Unit</nb-option>
                            <nb-option value="4 Unit">4 unit</nb-option>
                            <nb-option value="Multi Unit">Multi Unit</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="Agg">Agg</nb-option>
                            <nb-option value="LeaseHold">LeaseHold</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Original P. Price:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="originalP" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Retention:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="retention" />
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Balance</u></div>
                    </div>
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Payment</u></div>
                    </div>
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Rate</u></div>
                    </div>
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Loan Type</u></div>
                    </div>
                    <div class="col-md">
                        <div class="text1 text-basic label"><u>Lender</u></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col md">
                        <label class="text1 text-basic label"><u>1st lien</u></label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="firstLien" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="firstLien2" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="firstLien3" />
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="loanType1">
                            <nb-option value="Jumbo Fixed 15">Jumbo Fixed 15</nb-option>
                            <nb-option value="VA Fixed 30">VA Fixed 30</nb-option>
                            <nb-option value="Jumbo Fixed 30">Jumbo Fixed 30</nb-option>
                            <nb-option value="VA Fixed 15">VA Fixed 15</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="1_ITIN">1_ITIN</nb-option>
                            <nb-option value="Conv Fixed 30">Conv Fixed 30</nb-option>
                            <nb-option value="Conv Fixed 20">Conv Fixed 20</nb-option>
                            <nb-option value="Conv Fixed 15">Conv Fixed 15</nb-option>
                            <nb-option value="FHA Fixed 30">FHA Fixed 30</nb-option>
                            <nb-option value="FHA Fixed 15">FHA Fixed 15</nb-option>
                            <nb-option value="FHA ADJ 5/1">FHA ADJ 5/1</nb-option>
                            <nb-option value="Jumbo Fixed 20">Jumbo Fixed 20</nb-option>
                            <nb-option value="Jumbo ADJ 1/1">Jumbo ADJ 1/1</nb-option>
                            <nb-option value="Jumbo ADJ 5/1">Jumbo ADJ 5/1</nb-option>
                            <nb-option value="Jumbo ADJ 7/1">Jumbo ADJ 7/1</nb-option>
                            <nb-option value="Jumbo ADJ 10/1">Jumbo ADJ 10/1</nb-option>
                            <nb-option value="HERO">HERO</nb-option>
                            <nb-option value="USDA">USDA</nb-option>
                            <nb-option value="VA IRRL 30">VA IRRL 30</nb-option>
                            <nb-option value="FHA Fixed 20">FHA Fixed 20</nb-option>
                            <nb-option value="NQM Fixed 30">NQM Fixed 30</nb-option>
                            <nb-option value="NQM ADJ">NQM ADJ</nb-option>
                            <nb-option value="VA Fixed 20">VA Fixed 20</nb-option>
                            <nb-option value="VA IRRL 20">VA IRRL 20</nb-option>
                            <nb-option value="VA IRRL 15">VA IRRL 15</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="lender1">
                            <nb-option value="Bank of Internet">Bank of Internet</nb-option>
                            <nb-option value="IndyMac">IndyMac</nb-option>
                            <nb-option value="Citi Mortgage">Citi Mortgage</nb-option>
                            <nb-option value="Wells Fargo">Wells Fargo</nb-option>
                            <nb-option value="Flagstar">Flagstar</nb-option>
                            <nb-option value="BSI Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078">BSI
                                Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078</nb-option>
                            <nb-option value="Carrington Mortgage Services, Inc.">Carrington Mortgage Services, Inc.
                            </nb-option>
                            <nb-option value="Chase Bank">Chase Bank</nb-option>
                            <nb-option value="Commerce Wholesale">Commerce Wholesale</nb-option>
                            <nb-option value="Ohio Savings">Ohio Savings</nb-option>
                            <nb-option value="EMC">EMC</nb-option>
                            <nb-option value="Green Tree">Green Tree</nb-option>
                            <nb-option value="HSBC">HSBC</nb-option>
                            <nb-option value="Marix Servicing">Marix Servicing</nb-option>
                            <nb-option value="Met Life Home Loans">Met Life Home Loans</nb-option>
                            <nb-option value="Ocwen Loan">Ocwen Loan</nb-option>
                            <nb-option value="PennyMac">PennyMac</nb-option>
                            <nb-option value="PHH Mortgage">PHH Mortgage</nb-option>
                            <nb-option value="PNC">PNC</nb-option>
                            <nb-option value="Provident">Provident</nb-option>
                            <nb-option value="Sun West Mortgage">Sun West Mortgage</nb-option>
                            <nb-option value="The Bank of New York">The Bank of New York</nb-option>
                            <nb-option value="US Bank/ US BANCORP/ US Bank National Associaiton">US Bank/ US BANCORP/ US
                                Bank National Associaiton</nb-option>
                            <nb-option value="UWM">UWM</nb-option>
                            <nb-option value="Fairway">Fairway</nb-option>
                            <nb-option value="Caliber">Caliber</nb-option>
                            <nb-option value="Accelerate">Accelerate</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>2nd Lien</u></label>
                        <input nbInput fullWidth fieldSize="medium" status="primary" type="text" shape="rectangle"
                            formControlName="secondLien" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth fieldSize="medium" type="text2" class="text2" shape="rectangle"
                            status="primary" formControlName="secondLien2" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth fieldSize="medium" class="text2" type="text" shape="rectangle"
                            status="primary" formControlName="secondLien3" />
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="loanType2">
                            <nb-option value="Jumbo Fixed 15">Jumbo Fixed 15</nb-option>
                            <nb-option value="VA Fixed 30">VA Fixed 30</nb-option>
                            <nb-option value="Jumbo Fixed 30">Jumbo Fixed 30</nb-option>
                            <nb-option value="VA Fixed 15">VA Fixed 15</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="1_ITIN">1_ITIN</nb-option>
                            <nb-option value="Conv Fixed 30">Conv Fixed 30</nb-option>
                            <nb-option value="Conv Fixed 20">Conv Fixed 20</nb-option>
                            <nb-option value="Conv Fixed 15">Conv Fixed 15</nb-option>
                            <nb-option value="FHA Fixed 30">FHA Fixed 30</nb-option>
                            <nb-option value="FHA Fixed 15">FHA Fixed 15</nb-option>
                            <nb-option value="FHA ADJ 5/1">FHA ADJ 5/1</nb-option>
                            <nb-option value="Jumbo Fixed 20">Jumbo Fixed 20</nb-option>
                            <nb-option value="Jumbo ADJ 1/1">Jumbo ADJ 1/1</nb-option>
                            <nb-option value="Jumbo ADJ 5/1">Jumbo ADJ 5/1</nb-option>
                            <nb-option value="Jumbo ADJ 7/1">Jumbo ADJ 7/1</nb-option>
                            <nb-option value="Jumbo ADJ 10/1">Jumbo ADJ 10/1</nb-option>
                            <nb-option value="HERO">HERO</nb-option>
                            <nb-option value="USDA">USDA</nb-option>
                            <nb-option value="VA IRRL 30">VA IRRL 30</nb-option>
                            <nb-option value="FHA Fixed 20">FHA Fixed 20</nb-option>
                            <nb-option value="NQM Fixed 30">NQM Fixed 30</nb-option>
                            <nb-option value="NQM ADJ">NQM ADJ</nb-option>
                            <nb-option value="VA Fixed 20">VA Fixed 20</nb-option>
                            <nb-option value="VA IRRL 20">VA IRRL 20</nb-option>
                            <nb-option value="VA IRRL 15">VA IRRL 15</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth class="text2" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="lender2">
                            <nb-option value="Bank of Internet">Bank of Internet</nb-option>
                            <nb-option value="IndyMac">IndyMac</nb-option>
                            <nb-option value="Citi Mortgage">Citi Mortgage</nb-option>
                            <nb-option value="Wells Fargo">Wells Fargo</nb-option>
                            <nb-option value="Flagstar">Flagstar</nb-option>
                            <nb-option value="BSI Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078">BSI
                                Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078</nb-option>
                            <nb-option value="Carrington Mortgage Services, Inc.">Carrington Mortgage Services, Inc.
                            </nb-option>
                            <nb-option value="Chase Bank">Chase Bank</nb-option>
                            <nb-option value="Commerce Wholesale">Commerce Wholesale</nb-option>
                            <nb-option value="Ohio Savings">Ohio Savings</nb-option>
                            <nb-option value="EMC">EMC</nb-option>
                            <nb-option value="Green Tree">Green Tree</nb-option>
                            <nb-option value="HSBC">HSBC</nb-option>
                            <nb-option value="Marix Servicing">Marix Servicing</nb-option>
                            <nb-option value="Met Life Home Loans">Met Life Home Loans</nb-option>
                            <nb-option value="Ocwen Loan">Ocwen Loan</nb-option>
                            <nb-option value="PennyMac">PennyMac</nb-option>
                            <nb-option value="PHH Mortgage">PHH Mortgage</nb-option>
                            <nb-option value="PNC">PNC</nb-option>
                            <nb-option value="Provident">Provident</nb-option>
                            <nb-option value="Sun West Mortgage">Sun West Mortgage</nb-option>
                            <nb-option value="The Bank of New York">The Bank of New York</nb-option>
                            <nb-option value="US Bank/ US BANCORP/ US Bank National Associaiton">US Bank/ US BANCORP/ US
                                Bank National Associaiton</nb-option>
                            <nb-option value="UWM">UWM</nb-option>
                            <nb-option value="Fairway">Fairway</nb-option>
                            <nb-option value="Caliber">Caliber</nb-option>
                            <nb-option value="Accelerate">Accelerate</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>3rd lien:</u></label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="thirdLien" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth class="text2" fieldSize="medium" type="text" shape="rectangle"
                            status="primary" formControlName="thirdLien2" />
                    </div>
                    <div class="col-md">
                        <input nbInput fullWidth fieldSize="medium" class="text2" type="text" shape="rectangle"
                            status="primary" formControlName="thirdLien3" />
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="loanType3">
                            <nb-option value="Jumbo Fixed 15">Jumbo Fixed 15</nb-option>
                            <nb-option value="VA Fixed 30">VA Fixed 30</nb-option>
                            <nb-option value="Jumbo Fixed 30">Jumbo Fixed 30</nb-option>
                            <nb-option value="VA Fixed 15">VA Fixed 15</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="1_ITIN">1_ITIN</nb-option>
                            <nb-option value="Conv Fixed 30">Conv Fixed 30</nb-option>
                            <nb-option value="Conv Fixed 20">Conv Fixed 20</nb-option>
                            <nb-option value="Conv Fixed 15">Conv Fixed 15</nb-option>
                            <nb-option value="FHA Fixed 30">FHA Fixed 30</nb-option>
                            <nb-option value="FHA Fixed 15">FHA Fixed 15</nb-option>
                            <nb-option value="FHA ADJ 5/1">FHA ADJ 5/1</nb-option>
                            <nb-option value="Jumbo Fixed 20">Jumbo Fixed 20</nb-option>
                            <nb-option value="Jumbo ADJ 1/1">Jumbo ADJ 1/1</nb-option>
                            <nb-option value="Jumbo ADJ 5/1">Jumbo ADJ 5/1</nb-option>
                            <nb-option value="Jumbo ADJ 7/1">Jumbo ADJ 7/1</nb-option>
                            <nb-option value="Jumbo ADJ 10/1">Jumbo ADJ 10/1</nb-option>
                            <nb-option value="HERO">HERO</nb-option>
                            <nb-option value="USDA">USDA</nb-option>
                            <nb-option value="VA IRRL 30">VA IRRL 30</nb-option>
                            <nb-option value="FHA Fixed 20">FHA Fixed 20</nb-option>
                            <nb-option value="NQM Fixed 30">NQM Fixed 30</nb-option>
                            <nb-option value="NQM ADJ">NQM ADJ</nb-option>
                            <nb-option value="VA Fixed 20">VA Fixed 20</nb-option>
                            <nb-option value="VA IRRL 20">VA IRRL 20</nb-option>
                            <nb-option value="VA IRRL 15">VA IRRL 15</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md">
                        <nb-select fullWidth placeholder="select" class="text2" fieldSize="medium" status="primary"
                            formControlName="lender3">
                            <nb-option value="Bank of Internet">Bank of Internet</nb-option>
                            <nb-option value="IndyMac">IndyMac</nb-option>
                            <nb-option value="Citi Mortgage">Citi Mortgage</nb-option>
                            <nb-option value="Wells Fargo">Wells Fargo</nb-option>
                            <nb-option value="Flagstar">Flagstar</nb-option>
                            <nb-option value="BSI Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078">BSI
                                Financial Services, Inc. d/b/a Servis One, Inc. NMLS#38078</nb-option>
                            <nb-option value="Carrington Mortgage Services, Inc.">Carrington Mortgage Services, Inc.
                            </nb-option>
                            <nb-option value="Chase Bank">Chase Bank</nb-option>
                            <nb-option value="Commerce Wholesale">Commerce Wholesale</nb-option>
                            <nb-option value="Ohio Savings">Ohio Savings</nb-option>
                            <nb-option value="EMC">EMC</nb-option>
                            <nb-option value="Green Tree">Green Tree</nb-option>
                            <nb-option value="HSBC">HSBC</nb-option>
                            <nb-option value="Marix Servicing">Marix Servicing</nb-option>
                            <nb-option value="Met Life Home Loans">Met Life Home Loans</nb-option>
                            <nb-option value="Ocwen Loan">Ocwen Loan</nb-option>
                            <nb-option value="PennyMac">PennyMac</nb-option>
                            <nb-option value="PHH Mortgage">PHH Mortgage</nb-option>
                            <nb-option value="PNC">PNC</nb-option>
                            <nb-option value="Provident">Provident</nb-option>
                            <nb-option value="Sun West Mortgage">Sun West Mortgage</nb-option>
                            <nb-option value="The Bank of New York">The Bank of New York</nb-option>
                            <nb-option value="US Bank/ US BANCORP/ US Bank National Associaiton">US Bank/ US BANCORP/ US
                                Bank National Associaiton</nb-option>
                            <nb-option value="UWM">UWM</nb-option>
                            <nb-option value="Fairway">Fairway</nb-option>
                            <nb-option value="Caliber">Caliber</nb-option>
                            <nb-option value="Accelerate">Accelerate</nb-option>
                        </nb-select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">Cash Out</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="cashout4" />
                    </div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">Taxes</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="taxes" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">CC-Misc</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ccMisc" />
                    </div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">Insurance HOA</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="insurHOA" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">PMI-MI</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="pmiMi" />
                    </div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">Flood Insurance</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="floodInsur" />
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">Credit Report #:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="creditReport" />
                    </div>
                    <div class="col-md-5">
                        <label class="text1 text-basic label">Last Report Date</label>
                        <input [nbDatepicker]="datepicker1" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="lastrepDate" />
                        <nb-datepicker #datepicker1></nb-datepicker>
                    </div>
                    <div class="col-md"></div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md-10">
                        <label class="text1 text-basic label">Total</label>
                        <input nbInput fullWidth status="primary" fieldSize="medium" type="text" shape="rectangle"
                            formControlName="total1" />
                    </div>
                    <div class="col-md"></div>

                </div>
            </div>
        </div>
        <hr>





        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Approx Price:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="approxPrice" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Max Down Pmt:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="maxDownPmt" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Max Mo. Pmt:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="maxMoPmt" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Time to Buy:</label>
                        <nb-select fullWidth placeholder="select" fieldSize="medium" status="primary"
                            formControlName="time2Buy">
                            <nb-option value="Now">Now</nb-option>
                            <nb-option value="Within 3 Mos">Within 3 Mos</nb-option>
                            <nb-option value="Within 6 Mos">Within 6 Mos</nb-option>
                            <nb-option value="Within 1 Yr">Within 1 Yr</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Rent/Current Res.:</label>
                        <nb-select fullWidth placeholder="select" fieldSize="medium" status="primary"
                            formControlName="rentCurrentRes">
                            <nb-option value="Renting On time">Renting On time</nb-option>
                            <nb-option value="Renting Late">Renting Late</nb-option>
                            <nb-option value="Own Retaining">Own Retaining</nb-option>
                            <nb-option value="Own Selling">Own Selling</nb-option>
                            <nb-option value="Live Home No Rent">Live Home No Rent</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Rent Payment:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="rentPayment" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Prop. Type:</label>
                        <nb-select fullWidth class="occup" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="propType2">
                            <nb-option value="SFR">SFR</nb-option>
                            <nb-option value="Condo">Condo</nb-option>
                            <nb-option value="1 Unit">1 Unit</nb-option>
                            <nb-option value="2 Unit">2 Unit</nb-option>
                            <nb-option value="3 Unit">3 Unit</nb-option>
                            <nb-option value="4 Unit">4 unit</nb-option>
                            <nb-option value="Multi Unit">Multi Unit</nb-option>
                            <nb-option value="Commercial">Commercial</nb-option>
                            <nb-option value="Agg">Agg</nb-option>
                            <nb-option value="LeaseHold">LeaseHold</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Approx Sq. ft:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="approxSqFt" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Bed #:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="bedNumb" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Bath #:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="bathNumb" />
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Working w/ Agent:</label>
                    </div>
                    <div class="col-md">
                        <input type="checkbox" class="text1" status="primary" name="yes" id="checkbox" status="primary"
                            formControlName="workAgentYes" />
                        <label for="yes">Yes</label>
                    </div>
                    <div class="col-md">
                        <input type="checkbox" class="text1" status="primary" name="no" id="checkbox" status="primary"
                            formControlName="workAgentNo" />
                        <label for="no">No</label>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">First Time Buyer?:</label>
                    </div>
                    <div class="col-md">
                        <input type="checkbox" class="text1" status="primary" name="yes" id="checkbox" status="primary"
                            formControlName="firstBuyYes" />
                        <label for="yes">Yes</label>
                    </div>
                    <div class="col-md">
                        <input type="checkbox" class="text1" status="primary" name="no" id="checkbox" status="primary"
                            formControlName="firstBuyNo" />
                        <label for="no">No</label>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Can Co-Sign?:</label>
                    </div>
                    <div class="col-md">
                        <input type="checkbox" class="text1" status="primary" name="yes" id="checkbox" status="primary"
                            formControlName="coSignYes" />
                        <label for="yes">Yes</label>
                    </div>
                    <div class="col-md">
                        <input type="checkbox" class="text1" status="primary" name="no" id="checkbox" status="primary"
                            formControlName="coSignNo" />
                        <label for="no">No</label>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Can Obtain Gift?:</label>
                    </div>
                    <div class="col-md">
                        <input type="checkbox" class="text1" status="primary" name="yes" id="checkbox" status="primary"
                            formControlName="obtGiftYes" />
                        <label for="yes">Yes</label>
                    </div>
                    <div class="col-md">
                        <input type="checkbox" class="text1" status="primary" name="no" id="checkbox" status="primary"
                            formControlName="obtGiftNo" />
                        <label for="no">No</label>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Credit Report #:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="creditReport2" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Last Report Date</label>
                        <input [nbDatepicker]="datepicker11" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="lastrepDate2" />
                        <nb-datepicker #datepicker11></nb-datepicker>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">P.P / Value:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ppValue" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Loan Amount:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="loanAmt" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">LTV:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ltv" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Down Payment:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="downPMT" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Pre Approval Date:</label>
                        <input [nbDatepicker]="datepicker10" nbInput placeholder="Enter Date" fieldSize="medium"
                            shape="rectangle" status="primary" fullWidth formControlName="preAppDate" />
                        <nb-datepicker #datepicker10></nb-datepicker>
                    </div>
                </div>

            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">P.P / Value:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ppValue2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Dwn Payment:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="downPMT2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Loan Amount:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="loanAmt2" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">MIP/FF:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="mipFF" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Total Loan Amount:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="totLoanAmt" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Rate:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="rate5" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Term:</label>
                        <nb-select fullWidth class="propType" placeholder="select" fieldSize="medium" status="primary"
                            formControlName="tem">
                            <nb-option value="360">360</nb-option>
                            <nb-option value="240">240</nb-option>
                            <nb-option value="180">180</nb-option>
                            <nb-option value="120">120</nb-option>
                        </nb-select>
                    </div>
                </div>



            </div>



            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">PI:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="pi" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">TX:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="tx" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">INS:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="ins" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">MI:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="mi" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">PITI:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="piti" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">DTI:</label>
                        <input nbInput fullWidth fieldSize="medium" type="text" shape="rectangle" status="primary"
                            formControlName="dti" />
                    </div>
                </div>

            </div>

        </div>

    </nb-card-body>

</nb-card>