<ng-template #smsDialog let-data let-ref="dialogRef">
  <ngx-sms-popout
    style="min-width: 300px;"
    [recipient]="this.recipient"
    [phoneNumber]="this.phoneNumber.value"
    [identifier]="this.identifier"
  >
  </ngx-sms-popout>
</ng-template>

<ng-template #callDialog let-data let-ref="dialogRef">
  <ngx-call-popout
    style="min-width: 300px;"
    [recipient]="this.recipient"
    [phoneNumber]="this.phoneNumber.value"
    [identifier]="this.identifier"
  ></ngx-call-popout>
</ng-template>

<div class="input-group">
  <input
    nbInput
    placeholder="Phone Number"
    fieldSize="medium"
    [value]="this.phoneNumber.value | ngxPhone"
    type="text"
    [formControl]="control"
    shape="rectangle"
    status="primary"
    fullWidth
  />
  <div class="input-group-append">
    <button
      nbButton
      [class]="'btn' + (featureDisabled ? ' disabled' : '')"
      fieldSize="medium"
      type="text"
      shape="rectangle"
      status="primary"
      (click)="showCallPopout(callDialog)"
      [disabled]="isValidPhoneNumber() ? null : true"
    >
      <i class="fa fa-phone" style="font-size: 18px;"></i>
    </button>
    <button
      *ngIf="isMobile"
      nbButton
      [class]="'btn' + (featureDisabled ? ' disabled' : '')"
      fieldSize="medium"
      type="text"
      shape="rectangle"
      status="primary"
      (click)="showSMSPopout(smsDialog)"
      [disabled]="isValidPhoneNumber() ? null : true"
    >
      <i class="fa fa-comment" style="font-size: 18px;"></i>
    </button>
  </div>
</div>
