div.gallery {
    margin: 5px;
    border: none;
    float: left;
    width: 200px;
    height: 200px;
   }
div.gallery img {
    width: 100%;
    height: auto;
   }
div.desc {
    padding: 5px;
    font-size: .8rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
}
.itemIcon {
    text-align: center;
}
.itemIcon > i {
    font-size: 3.5rem;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    cursor: pointer;

}
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.selectable-item {
    width: 100px;
    cursor: pointer;
}
.selectable-item:hover{
    border:skyblue 2px solid;
    border-radius: 10px;
    background-color: lightblue;
}