<!-- Breadcrumb Pagination -->
<ul class="breadcrumb">
  <li
    *ngFor="let element of breadcrumb"
    (click)="this.changeDirectory(element.path)"
  >
    <a> {{ element.name }} </a>
  </li>
</ul>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col">
        {{ this.getCurrentFolderName() }}
      </div>
      <div class="col">
        <div class="text-right" style="float: right">
          <input
            type="file"
            #file
            (change)="upload(file.files[0])"
            style="display: none"
          />
          <div class="btn-group" role="group">
            <button class="btn btn-primary" (click)="file.click()">
              Upload <nb-icon icon="upload-outline"></nb-icon>
            </button>
            <button class="btn btn-secondary" (click)="addTempFolder()">
              Add Folder
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!--The code to display items -->
    <div class="gallery" *ngFor="let item of data">
      <div class="selectable-item">
        <div
          *ngIf="item.type == 'folder'"
          class="itemIcon"
          (click)="this.select(item)"
        >
          <i class="fa fa-folder"></i>
        </div>
        <div
          *ngIf="item.type == 'file'"
          class="itemIcon"
          (click)="this.select(item)"
        >
          <i class="fa fa-file"></i>
        </div>
        <div *ngIf="item.editable">
          <input
            nbInputs
            fieldSize="medium"
            type="text"
            shape="rectangle"
            status="primary"
            (blur)="this.uploadFolderevent($event)"
          />
        </div>
        <div *ngIf="!item.editable" class="desc" (click)="this.select(item)">
          {{ item.name }}
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
