:host {
    display: block;
    width: 100%;
  }
  
  .input {
    margin: 4px 4px 0 0;
  }
  
  .text1 {
    margin: 4px 5px 0 0;
  }
  
  
  .select {
    margin: 0 0 0 0px;
  }
  
  
  .card {
    width: 100%;
  }

h6 {
    top: 5px;
}
.h61 {
    text-align: center;
    background-color: rgb(192, 187, 187);
    margin-top: 5px;

}

#border-right {
    border-right-color: blue;
    border-right-width: 1px;
    border: double;
}





  