<nb-card class="card">
    <nb-card-header class="slot">
        <div class="row">
            <div class="col-md">
                <h6>AFG Mortgage Application Form</h6>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="slot" [formGroup]="form">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Borrower</label>
                        <input formControlName="iBorrower" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Co-Borrower</label>
                        <input formControlName="iCoBorrower" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <!--I. Type Mort-->
                <div class="row">
                    <div class="col-md">
                        <h6 class="h61">I. TYPE OF MORTGAGE AND TERMS OF LOAN</h6>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-right">
                <div class="row">
                    <div class="col-md">
                        <label style="position: relative; bottom: 6px;"
                            class="text1 text-basic label"><u>Mortgage:</u></label>
                        <nb-checkbox status="primary" formControlName="iva">VA</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox status="primary" formControlName="iconventional">Conventional</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox status="primary" formControlName="iOther1">Other (explain)</nb-checkbox>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label style="position: relative; bottom: 6px;" class="text1 text-basic label"><u>Applied
                                For:</u></label>
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary" formControlName="ifha">
                            FHA
                        </nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox style="position: relative; bottom: 7px;" id="checkbox" status="primary"
                            formControlName="iUsdaService">
                            USDA/Rural Housing Service
                        </nb-checkbox>
                    </div>
                    <div class="col-md">
                        <input formControlName="iOtherExplained1" nbInput fullWidth fieldSize="medium"
                            placeholder="Other Explained" type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Amount $:</label>
                        <input formControlName="iAmount" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Interest Rate %:</label>
                        <input formControlName="iInterestRate" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">No. if Months:</label>
                        <input formControlName="iNumbMonths" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Agency Case Number:</label>
                        <input formControlName="iAgencyCaseNumb" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Lender Case Number:</label>
                        <input formControlName="iLenderCaseNumb" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label style="position: relative; top: 6px;"
                            class="text1 text-basic label"><u>Amortization:</u></label>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary"
                            formControlName="iFixedRate">Fixed Rate</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary"
                            formControlName="iOther2">Other (explained)</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <input formControlName="iOtherExplained2" placeholder="Other Explained" nbInput fullWidth
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary" formControlName="iGPM">
                            GPM</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary" formControlName="iArm">
                            ARM (type)</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <input formControlName="iArmType" nbInput fullWidth fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>



            </div>
        </div>
        <!--II Prop Info-->
        <div class="row">
            <div class="col-md-12">
                <h6 class="h61">II. PROPERTY INFORMATION AND PURPOSE OF LOAN</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 border-right">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Subject Property Address</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Street:</label>
                        <input formControlName="iiStreet" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">City:</label>
                        <input formControlName="iiCity" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">State:</label>
                        <input formControlName="iiState" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Zip:</label>
                        <input formControlName="iiZip" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Legal Description of Subject Property (attach if
                            necessary)</label>
                        <textarea nbInput formControlName="iiLegalDescription" placeholder="Description"
                            fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth></textarea>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">No. of Units:</label>
                        <input formControlName="iiNumbUnits" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Year Built:</label>
                        <input formControlName="iiYearBuilt" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>

            </div>
        </div>
        <hr style="top: 1px solid blue;" />
        <div class="row">
            <div class="col-md-7 border-right">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Purpose of
                                Loan:</u></label>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary"
                            formControlName="iipurchase">Purchase:</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary"
                            formControlName="iiconstruction">Construction:</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary"
                            formControlName="iiother3">Other(Explained):</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <input formControlName="iiother3explained" placeholder="Other Explained" nbInput fullWidth
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary"
                            formControlName="iirefinance">Refinance:</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary"
                            formControlName="iiconstructionPerm">Construction-Permanent:</nb-checkbox>
                    </div>

                    <div class="col-md"></div>

                </div>

            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="position: relative; top: 5px;"><u>Property Will
                                Be:</u></label>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position: relative;" status="primary"
                            formControlName="iiPrimaryResidents">
                            Primary Residents</nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position:relative;" status="primary"
                            formControlName="iiSecondaryResidents">Secondary Residents</nb-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md">
                        <nb-checkbox id="checkbox" style="position:relative;" status="primary"
                            formControlName="iiInvestment">Investment</nb-checkbox>
                    </div>
                    <div class="col-md"></div>
                </div>



            </div>
        </div>
        <hr style="top: 1px solid blue;" />
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="position: relative;"><u><b>Complete this line if
                                    Construction or Construction-Permanent Loan.</b></u></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md border-right">
                        <label class="text1 text-basic label" style="position: relative; top: 5px;">Year Lot
                            Acquired</label>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Original Cost:</label>
                        <input formControlName="iiOriginalCost" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Amount Existing Liens:</label>
                        <input formControlName="iiAmountExistingLiens" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Present Value of Lot:</label>
                        <input formControlName="iiValueLot" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Cost of Improvements:</label>
                        <input formControlName="iiImprovementCost" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Total (A+B):</label>
                        <input formControlName="iiTotalab" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="position: relative;"><b><u>Complete this line if
                                    this is
                                    a Refinance Loan.</u></b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md border-right">
                        <label class="text1 text-basic label" style="position: relative; top: 5px;">Year
                            Acquired:</label>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Original Cost:</label>
                        <input formControlName="iiOriginalCost2" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Amount Existing Liens:</label>
                        <input formControlName="iiAmountExistingLiens2" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Purpose of Refinance:</label>
                        <input formControlName="iiPurposeRefinance" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Describe Improvements:</u></label>

                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Cost:</label>
                        <input formControlName="iiCost" nbInput fullWidth placeholder="" fieldSize="medium" type="text"
                            shape="rectangle" status="primary" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                    <div class="col-md">
                        <nb-checkbox style="position: relative;" status="primary" formControlName="iiMade">Made
                        </nb-checkbox>
                    </div>
                    <div class="col-md">
                        <nb-checkbox style="position: relative;" status="primary" formControlName="iiToBeMade">To Be
                            Made</nb-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <hr style="top: 1px solid blue;" />
        <div class="row">
            <div class="col-md-10 border-right">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="position: relative;">Title will be held in what
                            Names:</label>
                        <textarea nbInput formControlName="iiTitleHeldNames" placeholder="Description"
                            fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth></textarea>
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label" style="position: relative;">Manner in which Title will be
                            held:</label>
                        <input formControlName="iiMannerTitleHeld" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label" style="position: relative;">Source of Down Payment,
                            Settlement Charges and/or Subordinate Financing (explain)</label>
                        <textarea nbInput formControlName="iiSourceDownPayment" placeholder="Description"
                            fieldSize="medium" type="text" shape="rectangle" status="primary" fullWidth></textarea>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label"><u>Estate will be Held in:</u></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <nb-checkbox style="position: relative;" status="primary" formControlName="iiMade">Made
                        </nb-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <nb-checkbox style="position: relative;" status="primary" formControlName="iiToBeMade">To Be
                            Made</nb-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <!--iii Borrower Info-->
        <div class="row">
            <div class="col-md-12">
                <h6 class="h61">III. BORROWER INFORMATION</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border-right">
                <div class="row">
                    <div class="col-md">
                        <h6 style="text-align: center;"><u>Borrower</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">Borrower's Name</label>
                        <input formControlName="iiiBorrowerName" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">SSN:</label>
                        <input formControlName="iiissnBorrower" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Home Phone:</label>
                        <input formControlName="iiihomePhoneBorrower" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">DOB (mm/dd/yy)</label>
                        <input formControlName="iiiborrowerDob" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Years School.</label>
                        <input formControlName="iiiborrowerYrsSchool" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">

                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <h6 style="text-align: center;"><u>CO-Borrower</u></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">CO-Borrower's Name</label>
                        <input formControlName="iiiCoBorrowerName" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="text1 text-basic label">SSN:</label>
                        <input formControlName="iiiCOborrowerssn" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Home Phone:</label>
                        <input formControlName="iiiCOhomePhoneBorrower" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">DOB (mm/dd/yy)</label>
                        <input formControlName="iiiCOborrowerDob" nbInput fullWidth placeholder="" fieldSize="medium"
                            type="text" shape="rectangle" status="primary" />
                    </div>
                    <div class="col-md">
                        <label class="text1 text-basic label">Years School.</label>
                        <input formControlName="iiiCOborrowerYrsSchool" nbInput fullWidth placeholder=""
                            fieldSize="medium" type="text" shape="rectangle" status="primary" />
                    </div>
                </div>

            </div>
        </div>



    </nb-card-body>
</nb-card>