<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h6 style="text-align: center; border-bottom: 2px solid #000;">
          {{ recipient }} <br />
          {{ phoneNumber | ngxPhone }}
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul id="callHistory" #callHistory [scrollTop]="callHistory.scrollHeight">
          <li *ngFor="let call of calls">
            {{ call.direction == 0 ? "received" : "sent" }} @
            {{ call.date | ngxMomentsAgo }}
            {{ call.duration }}
          </li>
        </ul>
        <div id="bottomPanel">
          <div class="input-group-append">
            <button (click)="this.callClient()">
              Call
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>